[2020-10-20 08:51] Wilson-Lm commented on #32
Hey Hung, @fantasy121 ,
I missed this message amidst all the others from github (sorry!)
In Vitro can be done all year yes and you're more than welcome to send over compounds anytime. For the 2020 paper, we can no longer do any testings. Technically we are able to to test the compounds in vitro, but we cannot do in vivo tests anymore as our in vivo larvae season has ended for this year.
So, any co

[2020-10-20 08:57] Wilson-Lm commented on #29
Hi @dmitrij176
We have received your compounds! It arrived yesterday as mentioned. Also noted on the compound coding error for A06 and A07.

@fantasy121 @dmitrij176 One question which is also wise to have a think before our next meeting,
Do we want to standardise the names for the compounds that were synthesised for the 2020 fenarimol manuscript?
We currently have HPD-, DM- and LR-. Would it be ea

[2020-10-20 09:15] bendndi commented on #29
@Wilson-Lm Typically in a manuscript with a large range of compounds such as this one, the `standard` approach is to just number to componuds rather than use trivial names. e.g. 1, 2, 3...

[2020-10-20 09:18] bendndi commented on #29
We did discuss earlier about have a standardised MycetOS numbering system. I still believe this is a good idea (and should be a standardised process across the project). There was an issue thread on this at the start of MycetOS but I can no longer see it.

[2020-10-20 10:07] mattodd commented on #29
@bendndi @Wilson-Lm YES PLEASE, we need to use the standardised numbering system. Internal codes are fine internally, but not when we start sending compounds around for evaluation and discussing them here together. The numbering method is [here](https://github.com/OpenSourceMycetoma/MycetOS-Tech-Ops/wiki/The-Molecule-Numbering-Convention), and needs to be used in conjunction with the [Master List]

[2020-10-22 23:31] fantasy121 commented on #36
Ok. I'll lock in next **Tue 27th Oct meeting time for eveyone GMT 12:00 – New York 8 am – Amsterdam 1 pm – Sydney 11 pm – London Noon**, refer to [here](https://github.com/OpenSourceMycetoma/Series-1-Fenarimols/issues/28). I will also be collecting emails in that meeting as I don't have everyone's email addresses to send out calendar invites at the moment. Otherwise, if anyone has the full list of

[2020-10-22 23:34] MFernflower commented on #36
@fantasy121 @mattodd Can you drop in a timeandate link just incase

[2020-10-22 23:40] kym834 commented on #36
Is it possible at all to create an .ics file? And maybe a URL for google users.
That way it will be adjusted automatically to the timezone for each individual who adds it to their calendar and anyone who would like to attend can add it to their calendar without @fantasy121 having to send out an invite.

[2020-10-23 06:27] fantasy121 commented on #36
Here you go. Link to *.ics files are here. GitHub does not support direct uploading of this file type. Please save BOTH file to your calendar, otherwise it will be bi-monthly meetings for you. Alternatively, please give me your emails next Tuesday and I'll send the invites to everyone.
[Monthly Mycetoma Community Meeting Zoom ID 992-8154-9497.zip](https://github.com/OpenSourceMycetoma/Series-1-Fen

[2020-10-23 08:56] wwjvdsande commented on #36
I added them in my agenda. The meeting in november is on monday the 23rd at 21:00 our time. That differs from the schedule above but is also fine by me.

[2020-10-23 10:45] mattodd commented on #36
Great, thanks @fantasy121 I imported the ics's but I'm not seeing a meeting scheduled for Oct 27th? Am I wrong/going mad?

[2020-10-23 11:27] wwjvdsande commented on #36
For me it was scheduled when I  imported them. It is on 13:00 european time.

[2020-10-24 12:05] Wilson-Lm commented on #36
@mattodd I am facing the same problem. I think the first 'bi-monthly' meeting schedule file isn't working for me. I do not see Oct and Dec.

Also as noticed by @wwjvdsande, the '2nd' meetings are on Mondays instead of "Every 2 months on the 4th Tuesday"

[2020-10-24 12:47] MFernflower commented on #36
ICS files not working for me either

[2020-10-25 13:32] Wilson-Lm commented on #29
_"compound coding error in A06 and A07 has been resolved and labels changed accordingly to match the MW values in the attached  @scheme."_

@dmitrij176 , I just want to double confirm the compounds before reconstituting and discarding the original bottle. is the information below correct?
A06 - mass, 68.68mg; MW, 319.13
A07 - mass 38.03; MW, 347.18

[2020-10-25 13:48] dmitrij176 commented on #29
Hi Wilson.
Yes, thats right. I have double checked all the samples and can confirm that there is a full match between all data points.

[2020-10-25 16:24] mattodd commented on #36
OK, so Oct 27th 1pm Euro time, which is 12 noon for UK. Like this:
https://www.timeanddate.com/worldclock/meetingdetails.html?year=2020&month=10&day=27&hour=12&min=0&sec=0&p1=224&p2=250&p3=43&p4=136&p5=87&p6=240
as @fantasy121 said above.
..and same Zoom ID for each.
If so, all good.

[2020-10-26 00:24] Wilson-Lm commented on #29
Thank you! @dmitrij176

[2020-10-26 03:14] fantasy121 commented on #36
It's the fourth Tue of the monthly not the last Tue of the month, as some months have five tuesdays. @Wilson-Lm
@wwjvdsande I see, I think I made an error in scheduling as 7 am Tue for Sydney would be 9PM Monday for Amsterdam. I should actually schedule 7AM Wed for Sydney instead. I haven't taken in consideration +/-1 day difference.
@mattodd I'm really not sure what's gone wrong as it does appear

[2020-10-26 03:44] kym834 commented on #36
Hi All,

Take 2 - updated so that '2nd/Time B' is on Tuesday's and hopefully will have the meeting time for October meeting.
On reoccurrence for 1 year.

**For those using Outlook and Apple**
Time A: [Open Source Mycetoma Monthly Meeting_Time A.ics.zip](https://github.com/OpenSourceMycetoma/Series-1-Fenarimols/files/5436679/Open.Source.Mycetoma.Monthly.Meeting_Time.A.ics.zip)
Time B: [Open Source

[2020-10-26 15:10] wwjvdsande commented on #29
@mattodd @bendndi @fantasy121 @dmitrij176 @Wilson-Lm is there a list were the "renumbering of the old names" into the official names is deposited? For us non-chemists it is a bit difficult to do the renumbering. We need to add the official names to the figures and tables when drafting the manuscript. We currently still use the numbers on the compounds received.

[2020-10-27 08:18] mattodd commented on #36
Is anyone starting an agenda for today (e.g. in a new issue), or does anyone have one already? Action items are in #35. Maybe alongside the newly-booked slots for the meetings we could have a rota of responsibility for posting agendas/notes?

[2020-10-27 08:46] mattodd opened #37 "MycetOS Meeting Tuesday Oct 27 2020"
_Placeholder. Add any agenda items below._ Follows #35 .
Zoom link for meeting:
Recording:
On call: @fantasy121 @mattodd @dmitrij176 @Wilson-Lm @kym834 @alintheopen (add yourselves...)

[2020-10-27 11:02] alintheopen commented on #37
Hi team, I'm an apology for tonight - will catch up with recording and minutes. Cheers Alice

[2020-10-27 14:57] dmitrij176 commented on #13
@Wilson-Lm would you be able to share any up to date biological data for my analogues ?

I need it for my upgrade report R&D section.

[2020-10-27 20:19] Wilson-Lm commented on #13
Hey @dmitrij176 ,
Give me until the end of tomorrow and I will upload the up to date _in vitro _ data for all compounds we tested. I will fill them in the excel sheet we have on github. or do you prefer it if I email you an excel sheet?  The _in vivo_ data will have to wait a little bit longer as we're still currently running the experiments.

[2020-10-27 20:23] dmitrij176 commented on #13
Hi again @Wilson-Lm . Ok, thanks a lot. Upload whichever way you prefer, all options are suitable.

[2020-10-28 06:43] kym834 commented on #36
Would everyone be happy for us to move these .ics files and URL links to the readme for Series 1 with some info on the meetings and the Zoom link? I think it's a nice central location of this admin type information.
Then we can close this issue.

[2020-10-28 06:49] kym834 commented on #37
Who: @fantasy121, @kym834, @wwjvdsande, @MKonings, @Wilson-Lm, @mattodd, @MFernflower, @dmitrij176, @bendndi
@MOUSEY007

Recording of the meeting [Open Source Mycetoma Community Monthly Meeting #4 27th Oct 2020 - YouTube](https://www.youtube.com/watch?v=0WAzsOkIKjA&ab_channel=OpenSourceMycetoma).

1. *Team USYD update* - @fantasy121 has been working on the synthesis of a number of compounds. Still

[2020-11-02 06:15] laujialiang opened #38 "Does M. mycetomatis biofilm have eDNA?"
Good day @wwjvdsande ! I am Jia Liang, currently in my final year under the MPHARM programme at UCL. For my research project which is titled "design a molecule that can penetrate fungal biofilm", I will be mainly referring to #23 and #24.

As there are more research revolving around bacterial biofilms, I started my study on that specific area to identify if there is any similarity to fungal biofil

[2020-11-02 07:35] wwjvdsande commented on #38
@laujialiang we have grain samples in formalin. In our laboratory we have groups working with bacterial biofilms. They stain the eDNA with Propidium Iodide, that fluorescence red. We could stain it, but I need to check first if it will work on formalin fixed samples and if I can see the signal above the autofluorescence of the grains. Grains autofluoresence in both red and green.  I'm not sure if

[2020-11-02 11:18] laujialiang commented on #38
@wwjvdsande  Since the relationship between eDNA and biofilm EPS structural integrity is already built, wouldn't we be able to identify if eDNA is present in M. mycetomatis biofilm by measuring the effect of DNase treatment?

[2020-11-02 11:27] wwjvdsande commented on #38
@laujialiang a true grain has never been formed _in vitro_, treating larvae with DNAse could also have other effects and staining of eDNA would still be necessary to demonstrate if eDNA is absent or present after DNAse treatment. We have a clumb model we can use. But how truely it represents a grain remains the question.

[2020-11-09 11:02] laujialiang commented on #38
Hello again @wwjvdsande , first of all, thank you for your previous replies which were really helpful. I have talked to my supervisor and proceeded to read more papers.

From this paper (https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3629765/), I believe that they were using A. fumigatus Af293 clinical isolates instead of using a model formed in vitro, so I am wondering if we could collect grains fr

[2020-11-17 19:37] dmitrij176 commented on #13
Hi @Wilson-Lm. Any news on the _in vitro_ and _in vivo_ data?

[2020-11-17 19:44] Wilson-Lm commented on #13
Hi @dmitrij176, I have updated the _in vitro_ data in the main file on github (my apologies for forgetting to tell you). The data is up to date.
_In vivo_ data however is still not ready. I am running the last larvae experiment to re-confirm the hits we have found. I will be able to give an update on that in the next meeting. The weather has been quite forgiving lately and thus we are able to stre

[2020-11-17 20:01] dmitrij176 commented on #13
Thanks a lot. Do you think that youll be able to get all the _in vivo_ data by next meeting (scheduled on Nov 24th)? I just need to understand how to finish my conclusions in the upcoming upgrade report i.e with just _in vitro_  or together with larval assays.

[2020-11-17 20:15] Wilson-Lm commented on #13
I

I wont be able to give the full data as this last larvae experiment will run till 27th of November. However, I reckon the data that I will show will most likely represent how the end results look like. I am hoping that this last run wont give us a completely different data pattern.

[2020-11-18 03:06] fantasy121 commented on #28
@Wilson-Lm Next week I'm on leave so I won't be able to chair our Monthly MycetOS meeting. I was going to ask Wendy or Mat to do this on my behalf but my supervisors Alice and Peter suggested that I should pass the baton to you instead so you can have a chance at doing this too. I think their suggestion is a good idea. Would you like to do it?

[2020-11-18 04:03] MFernflower commented on #28
@fantasy121 What time will the meeting be?

[2020-11-18 04:44] fantasy121 commented on #28
It's 7am AEDT (Sydney Time) Tuesday 24th Nov. Did you mange to save the iCal invitation that Kymberley posted?

[2020-11-18 09:28] Wilson-Lm commented on #28
Hey Hung! Sure that wont be a problem at all. Excited to help wherever I can.
Perhaps its better to discuss to finer details eg recording... blablabla over email?

[2020-11-23 10:15] Wilson-Lm commented on #28
Hi all,

Just a reminder that our November meeting will be in 10hours. Time as shown below
Sydney time: 7am 24th Nov
Amsterdam time: 9pm 23rd Nov
London time: 8pm 23rd Nov
New York time: 3pm 23rd Nov

See you all there!

[2020-11-23 19:52] MFernflower commented on #28
@Wilson-Lm zoom link above doesn't work?

[2020-11-23 19:56] Wilson-Lm commented on #28
@MFernflower It's working. I just logged in.

[2020-11-23 19:57] wwjvdsande commented on #28
https://uni-sydney.zoom.us/j/99281549497
This one should work

[2020-11-23 20:11] wwjvdsande commented on #28
See you all tomorrow at the same time

[2020-11-24 21:53] mattodd opened #39 "MycetOS Meeting November 2020"
Placeholder for minutes and action items
Date:
On the call:
Recording:

_Below are random notes from @mattodd that can be incorporated into minutes etc._

1) **Next paper**: we need to see whether there is any correlation between physicochemical parameters of the fenarimols and with their in vitro or in vivo potency. As a first step we should ensure that all the in vitro and in vivo biological dat

[2020-11-30 08:03] wwjvdsande commented on #38
Dear @laujialiang, in vivo grains are difficult to obtain. They can be obtained from patients but they are not in our hospital so that makes it difficult. Furthermore they will be from different strains which could also be of influence. To get them from a mouse model or a larvae model is possible. For our mouse model we currently don't run experiments and I will not get approval for an experiment

[2020-11-30 10:51] laujialiang commented on #38
@wwjvdsande Thank you for your clarification! Really appreciate it.

[2020-12-21 08:08] wwjvdsande commented on #36
@MFernflower @mattodd @fantasy121 @bendndi @Wilson-Lm @Mickey-Konings
Dear all, there is a bit confusion if there is a meeting tomorrow. In my agenda it is displayed as being a meeting, in other the meeting is not displayed. In last meeting the meeting of december was not mentioned, the on in January was. Will we meet tomorrow yes or no?

[2020-12-21 09:20] mattodd commented on #36
@MFernflower @wwjvdsande @fantasy121 @bendndi @Wilson-Lm @Mickey-Konings Nothing in my diary, and I'd suggest we:
1) Have the next meeting in January. It feels like we are in need of some data analysis in the meantime.
2) Refresh the .ics files so that we're all on the same page for the meetings for 2021. Would someone be happy to take care of that?

[2021-01-09 07:15] laujialiang opened #40 "Gathering data on newly synthesised fenarimol analogues"
Hello, I am Jia Liang from UCL, currently in my final year under MPHARM programme. I am currently working on a research paper with the aim of confirming the conclusion proposed by Rosalyn back in 2019 #22  where she mentioned that compounds with lower Log D value at pH 7.4 are more likely to have better in vivo efficacy in treating the eumycetoma grains. So, I am wondering if I could get some newe

[2021-01-09 11:41] laujialiang commented on #40
I have made a table with the Log P values. From the table (without plotting a graph yet), XLogP3-AA > -2.6 means the antibiotic is able to penetrate, where ampicillin is an anomalous. Log P > -0.58 means able to penetrate, where vancomycin and ampicillin are the anomali. I feel that the Log D values would be more accurate to elucidate the relevance of lipophilicity and biofilm penetration, however

[2021-01-09 23:25] Wilson-Lm commented on #40
Dear JiaLiang,
I'm quite happy to hear you are continuing/confirming Rosalyns work. I have read her thesis and found what she did really interesting. Her work gave us some ideas on how to play with data.

Happy to aid you where you need, I have full data of the pandemic box and the fenarimol compounds that we have tested in 2020. These new data - %survival and Log-Rank, i have uploaded it into the

[2021-01-10 00:28] Wilson-Lm commented on #40
Larvae survival % is most certainly likely linked to the ability of a drug to penetrate the grain, so it would be really interesting to know if there is any even a better correlation of LogD to %survivil or LogP to % sruvival. The LogD values for the fenarimols will be calculated shortly, but you can easily obtain LogD and LogP values for pandemic box compounds we tested in vivo and compare and se

[2021-01-10 06:01] laujialiang commented on #40
Hello Wilson, first and foremost, thank you for the great help. I have looked into the spreadsheet _Pandemic response box_ and the _MyOS compounds_ but I couldn't find the Log D value column, only the Log D p-value that is located next to the % survival. I have compiled the new data that was not included in Rosalyn's thesis in the _In vivo potency & Log D values_ from row 28 to 54. Sure, I will tr

[2021-01-11 15:00] dmitrij176 commented on #13
Hi @Wilson-Lm. Hope you had a good Christmas break. Just wanted to check with you if there are any news regarding _in vivo_ data from the latest assays? Will there be updates on the Master List?

[2021-01-11 15:07] Wilson-Lm commented on #13
Hi Dimitrij, Happy New Year!
The newest data can be found in the spread sheet, in the MyOS compounds and Pandemic Box sheet. Log-Rank and % survival data was updated.
For the MyOS compounds, 1 compound - DM7-1 significantly increased survival, and in the Pandemic Box, we found 4 that increased survival - Olorofim, Fenbendazole, MMV1782387, Ravunonazole.
I have the LogD data for pandemic box compou

[2021-01-12 08:39] mattodd opened #41 "World NTD Day is January 30th"
How shall we mark it? https://worldntdday.org/

My feeling is that we need:

1) A newsletter similar to the one we sent in OSA (opensourceantibiotics/Series-2-Diarylimidazoles#34), constructed (i.e. available) on Github and emailed around the team or posted elsewhere. CC-BY-4.0.

2) ...requiring us to set up a "sign up here for future newsletters by email" page similar to the one @danaklug made fo

[2021-01-13 10:42] Wilson-Lm commented on #28
Hi all, just wondering about the date and time for the next meeting.
In my calendar, it is set for 27th January Wednesday 0700-0800 Netherlands time (0800-0900 London time). Is this the same for everyone?

[2021-01-13 12:58] dmitrij176 commented on #28
@Wilson-Lm @mattodd @wwjvdsande its definitely on Tuesday January 26th as we always meet on the fourth Tuesday of every month (checked here: https://github.com/OpenSourceMycetoma/Series-1-Fenarimols/issues/36). At least, that was  agreed in the past and the schedule was fixed until February 2021.

Meeting time indeed needs reconfirmation as my ics file in icalendar states Wednesday Jan 27th. We do

[2021-01-13 22:43] kym834 commented on #28
Hi All,

I have our next meeting as **Time B** above on Tuesday the 26th of Jan (which is Wednesday the 27th for Sydney) same as @dmitrij176

These are the newest meeting invite files (from #36) that you can use to add the meetings into you calendars. If you delete any old ones that you have and then add these new ones, finger crossed, we will all be on the same page.

**For those using Outlook an

[2021-01-15 11:12] dmitrij176 commented on #13
Hi Hung (@fantasy121 ). Hope all is going well in Sydney. I have assigned MYOS codes to novel Fenarimols in the Master List (https://docs.google.com/spreadsheets/d/1YhK-3i2KwuVabo1GbZSgVjAUbavEICCMKi5v-EhNq80/edit#gid=954203120) and need to reconfirm some details with you. I came across some molecules of yours which either did not have SMILES or there was an uncertainty regarding the batch number

[2021-01-15 18:24] dmitrij176 commented on #29
Good day @bendndi and @mattodd. I am writing to inform you that the work on novel Fenarimol coding in the Master List is  complete. All molecules have been assigned with unique codes. I am just reconfirming few entries with @fantasy121. I want to make sure that everything is correct before project members start to use MYOS numbering in research papers, drafts etc.
The only thing which I wasnt sure

[2021-01-18 03:02] fantasy121 commented on #29
@dmitrij176 Mat brought to my attention Cetirizine was available for purchase and we agreed it would be interesting to see its activity. This compound was evaluated but was not synthesised by me. In the context of mycetoma, Cetirizine is novel in the sense that it hasn't been tested before, but not that it is a new molecule that hasn't been synthesised before. I think all information is good infor

[2021-01-18 04:35] fantasy121 commented on #13
@dmitrij176, all of my fenarimol analogues should appear as alcohols (OH) and not free bases (O-). I think the missing H is an artefact of the digital text-to-structure rendering of SMILES strings. As my work up is water, all O- should be protonated.

The F or P notations following my internal codes refer to the fractions that the desired compounds were eluted from the column. F notation was used

[2021-01-18 15:21] dmitrij176 commented on #13
Yes, thanks Hung (@fantasy121).
To be fair, I actually visited your Labarchive, but the Honours version as some of the mentioned analogs refer to legacy database. Anyway, all is sorted now, so no problems.
Indeed, stereochemistry needs to be taken into account. Same refers to formulations (bases, salts, alcohols etc.).
I will update everything accordingly.

[2021-01-18 22:43] mattodd opened #42 "We need a simple Newsletter Signups page - any volunteers?"
If we want to disseminate activity in MycetOS, it might be a good idea to use occasional newsletters. We found over in Open Source Antibiotics (opensourceantibiotics/Series-2-Diarylimidazoles#34) that these can easily be constructed collaboratively in a GitHub issue, then copied and pasted into an email and sent out. It's easier to construct the newsletter that way, rather than on something like M

[2021-01-18 23:05] mattodd opened #43 "MycetOS Newsletter 1"
_The text below is draft for the first Open Source Mycetoma email newsletter. This text can be removed when the email is sent out. Context: see #41 and #42._

**Open Source Mycetoma Seeks New, Inexpensive Medicines to Treat a Neglected Tropical Disease**

Mycetoma is a fungal skin infection that blights the lives of thousands of people living in several tropical and subtropical countries. It is pe

[2021-01-19 03:14] MFernflower commented on #43
@mattodd seems good to me

On Mon, Jan 18, 2021, 6:06 PM Mat Todd <notifications@github.com> wrote:

[2021-01-19 07:37] wwjvdsande commented on #43
@mattodd may be adding some crowdfunding or so? If we get a good respsonse I need to be able to do the screenings. Currently my budget is very tight. The XTT we use is quite expensive.

From the proteomics we did in the galleria model we noted that the trehalose pathway and the woronin bodies are found in very high amounts in the grain. They are fungal specific as there are no mamalian counterpart

[2021-01-19 09:35] wwjvdsande commented on #40
@laujialiang I think that for each biofilm the data will be a bit different. For that paper 30% penetration might have been good, however we don't know if similar percentages can be reached in a grain. Bacterial biofilms and fungal biofilms have a different composition and the true composition of the mycetoma grain is not known. However you need to start somewhere, so why not use the data they hav

[2021-01-19 10:59] mattodd commented on #43
Hi @wwjvdsande - crowdfunding is complicated, in that we'd need to make MycetOS some kind of (non-profit) entity in order to accept money, I suspect. Perfectly fine to do this, and I'd love to know what would happen, but it's not an overnight thing.
Proteomic data (OpenSourceMycetoma/What-other-molecules-to-screen#6) - that's interesting! We can include this in the newsletter, asking if people are

[2021-01-19 11:12] drc007 commented on #43
@mattodd It would be useful to have a "How to" document outlining how to go about a crowdfunding for an Open Source Drug Discovery project.

[2021-01-19 11:27] wwjvdsande commented on #43
Hi Matt, with crowdfunding it can also be something simple like somebody donating for instance XTT. That is the thing of the consumables which costs the most. Of course other things will also help but I was more thinking in simple things for now. I have no experience with crowdfunding at all.

For the news letter, how about this:

Here are three things we're doing right now:
1. Making new molecule

[2021-01-19 12:27] laujialiang commented on #40
@wwjvdsande Thank you for your feedback.
Currently, I have also included chemical formula and structure (to identify any important functional groups), molecular weight (found out a huge vancomycin [MW=1449.2]  can penetrate, while a much smaller ampillicin [MW=349.4] is unable to do so) and physiological charge (a trend where compounds with a high ratio of positive physiological charge:MW such as

[2021-01-19 12:31] wwjvdsande commented on #40
@laujialiang That is possible. Penetration inside the biofilm is step one, but for fungi (See chapter 133 from the Manual of Clinical Microbiology for instance) and probably also bacteria, efflux pumps are also upregulated. So if a drug penetrates inside the matrix and cell, it is also effectively pumped out.

[2021-01-19 12:37] wwjvdsande commented on #40
@laujialiang the thing with biofilms is that they also allow tolerance to drugs.This could give the bug also enough time to create some resistance by changing its target molecule as well. A biofilm is a mixed culture in the end. So some individuals might become metabolic dormant, others might be metabolically active, others can mutate and others might produce some stress responses beneficial for t

[2021-01-19 12:48] laujialiang commented on #40
@wwjvdsande Yes, I am aware of the significance of the efflux pumps, especially in fungal biofilms such as C. albicans where the efflux pumps are upregulated within the first few hours of adhesion and remain upregulated throughout biofilm development, even in the absence of an antifungal drug.
I just thought about hydrolysis because it may be ubiquitous in all biofilms since microbes require water

[2021-01-19 12:53] wwjvdsande commented on #40
@laujialiang, may be the model should be an equation or something. I know we don't have enough data on it. But may be it should be LogD + Mw + LogP or something like that. So the LogD should be between this and that, the Mw should be between ... A collegue of mine works with S. aureus biofilms he thinks charge of the molecule is important. At least in his biofilms. So may be that is another angle

[2021-01-19 13:03] laujialiang commented on #40
@wwjvdsande I found out the ratio of physiological charge to density is an important factor based on my data too, but they are just antibiotics so I am not really sure if the same could be applied to M. mycetomatis. I have read from some papers that the eDNA (negatively charged) within the matrix could bind to positively-charged molecules, and from all the biofilms I have looked into, they all hav

[2021-01-20 09:22] mattodd commented on #43
@drc007 - yes, I'd like to know what's involved. I've had some discussions with people over the years on this, and it'd be good to gather the advice together. We can base the discussion on MycetOS but the same would apply to OSM, unless we consider one over-arching non-profit able to disburse to different projects.

@wwjvdsande that's great, thanks for the newsletter suggestions, which I'll includ

[2021-01-20 10:06] mattodd opened #44 "Numbering in the MycetOS Compound List"
Starting new thread on this. Refers back to #29, #10 etc

MycetOS Master List is [here](https://docs.google.com/spreadsheets/d/1YhK-3i2KwuVabo1GbZSgVjAUbavEICCMKi5v-EhNq80/edit#gid=954203120). It's already linked in "[Sources of Data](https://github.com/OpenSourceMycetoma/Series-1-Fenarimols/wiki/Sources-of-Data)" on wiki and on Series 1 front page. Data licence is also mentioned on the front page

[2021-01-20 10:58] dmitrij176 commented on #44
Hello everyone. The red entries had been resolved with @fantasy121. But please bear in mind that since rows 33 and 34 are now separate entries, the codes for rows 35-168 will now be changed as well. I will update them accordingly.

[2021-01-20 16:23] MFernflower commented on #44
Good idea @mattodd

[2021-01-26 15:31] mattodd opened #45 "Open Source Mycetoma (MycetOS) Meeting Jan 26/27 2021"
Further to confirmation of meeting times ([here](https://github.com/OpenSourceMycetoma/Series-1-Fenarimols/issues/28#issuecomment-759784857)) and previous meetings (#28) and previous meeting (#39) **_recording?_**, we're all meeting up Jan 26/27 at Zoom ID: 992-8154-9497 https://uni-sydney.zoom.us/j/99281549497.

**Agenda Items:**

Science updates from different sites.
Current needs
Potential appl

[2021-01-26 21:46] Wilson-Lm commented on #28
As promised, the latest in vivo figures for both fenarimol analogues and pandemic box. Data can be found in our main excel sheet in GitHub.
[fenarimol 2021 meeting 1.pptx](https://github.com/OpenSourceMycetoma/Series-1-Fenarimols/files/5876328/fenarimol.2021.meeting.1.pptx)

[2021-01-26 21:52] mattodd commented on #28
Hi @Wilson-Lm any chance you could put these over at #45 where I just posted minutes and action items? Also I noticed a new student joining from your lab. Could you please encourage her to join us here on Github and let me know the username so I can add?

[2021-01-26 22:28] Wilson-Lm commented on #45
As promised, the latest in vivo figures for both fenarimol analogues and pandemic box. Data can be found in our main excel sheet in GitHub.
[fenarimol 2021 meeting 1.pptx](https://github.com/OpenSourceMycetoma/Series-1-Fenarimols/files/5876524/fenarimol.2021.meeting.1.pptx)

[2021-01-26 22:41] Wilson-Lm commented on #28
Hi @mattodd, done, ppt placed at #45 and I will get in touch with Ma to get on Github. She will most likely be screening any new compounds that we'll receive in the future so she'll shorty join us here on GitHub.

[2021-01-27 18:58] MFernflower commented on #45
@Wilson-Lm @wwjvdsande Just wanted to confirm the name of the drug resistant fungus that you found tafenoquine was able to kill

It was the genus Medicopsis in the genus Pleosporales correct?

[2021-01-27 20:05] Wilson-Lm commented on #45
@MFernflower That is correct. Medicopsis romeroi of the Pleosporales! and also Falciformispora senegalensis of the same order.

[2021-01-27 22:42] kym834 commented on #42
Sign up form and linked google sheet are now complete. Had to play with the logo a little as it only allowed for horizontal images. Please let me know if this OK. Here is the [form](https://forms.gle/hHvURWKJQTymhJ9p7).

[2021-01-28 15:55] MA-Jjingyi commented on #28
Hi, I'm a new PHD with Wendy's group. my name is Ma Jingyi. and I will be responsible for screening the COVID-BOX. please let me in the  Github. Thanks for your attention.

[2021-01-28 16:05] mattodd commented on #28
Hi @MA-Jjingyi welcome aboard. I'll add you to the organisation so that you can do more things.

[2021-01-28 18:10] Wilson-Lm commented on #45
_in vitro_ and _in vivo_ potency results + misc information have been included and updated in the main excel file, sheet _In vitro & vivo potency & LogD values_
That includes compounds that are active _in vitro_ and also compounds that underwent _in vivo_ screening.

[2021-01-28 22:42] mattodd commented on #43
I've updated the newsletter text above. Let me know of any problems or suggestions. It'll go out on Saturday. Huge thanks to @kym834 for setting up the sign-up for the newsletters. I'm assuming that everyone currently contributing to MycetOS is happy to receive them.
@kym834 are you able to add everyone's email addresses to the sheet as columns
First name
last name
Institution
Email
or do you want

[2021-01-28 23:06] mattodd commented on #42
Great work @kym834! Closing this issue since I've installed a link to the signup at https://github.com/OpenSourceMycetoma/General-Start-Here/blob/master/README.md and on the Tech-ops wiki at https://github.com/OpenSourceMycetoma/MycetOS-Tech-Ops/wiki/Newsletters

[2021-01-28 23:06] #42 closed

[2021-01-29 11:05] MA-Jjingyi commented on #28
Hi, mattoddie, thanks for your permission. Nice to join the group. and good luck to us.
________________________________
From: Mat Todd <notifications@github.com>
Sent: Thursday, January 28, 2021 5:05 PM
To: OpenSourceMycetoma/Series-1-Fenarimols <Series-1-Fenarimols@noreply.github.com>
Cc: M. Jingyi <m.jingyi@erasmusmc.nl>; Mention <mention@noreply.github.com>
Subject: Re: [OpenSourceMycetoma/Ser

[2021-01-29 11:10] MA-Jjingyi commented on #45
Hi,Wlison. good morning.
it's my main topic of my next research, right? oh ,my goodness. I must learn more technics about them in the near future,  i think! thanks again.
________________________________
From: Wilson <notifications@github.com>
Sent: Thursday, January 28, 2021 7:10 PM
To: OpenSourceMycetoma/Series-1-Fenarimols <Series-1-Fenarimols@noreply.github.com>
Cc: M. Jingyi <m.jingyi@erasmus

[2021-01-30 16:08] mattodd commented on #43
First newsletter emailed Jan 30th 2021. Several people who have contributed to MycetOS, or who have previously interacted with the consortium, were added to the distribution list manually and a comment added to the email saying that people can unsubscribe.

[2021-01-30 16:09] mattodd commented on #41
Newsletter sent out #43 and tweeted. Closing.

[2021-01-30 16:09] #41 closed

[2021-02-21 08:34] mattodd opened #46 "Open Source Mycetoma (MycetOS) Meeting Feb 23 2021"
Further to confirmation of meeting times ([here](https://github.com/OpenSourceMycetoma/Series-1-Fenarimols/issues/28#issuecomment-759784857)) and previous meetings (#28) and previous meeting (#45) **_recording?_**, we're all meeting up Feb 23 at Zoom ID: 992-8154-9497 https://uni-sydney.zoom.us/j/99281549497.

Meeting recording Link to go here:

**Agenda**

1) Outstanding action items from #45:

-

[2021-02-22 16:46] dmitrij176 commented on #28
Good day. Can someone please reconfirm what time is the meeting tomorrow?

Is it **Time B** (New York 3 pm – Amsterdam 9 pm – Sydney 7 am/8 am – London 8 pm (day for USA; evening for Netherlands and UK; early day for Sydney) ?

[2021-02-22 17:07] Wilson-Lm commented on #28
@dmitrij176
I recall having the last meeting on Time B, so following the order, the meeting this week should be **Time A**, 23rd Feb.
Please correct me if I am wrong :)

[2021-02-22 17:42] dmitrij176 commented on #28
@Wilson-Lm, I wish I knew)
My outlook calendar for some reason is definitely showing the wrong information. Plus, there is a mix up with the time zones as well (because Im not in London yet).
@mattodd @wwjvdsande, could you reconfirm this please?
My understanding is that the meeting is scheduled for Time A (New York 8 am – Amsterdam 1 pm – Sydney 11 pm/Midnight – London Noon (early day for USA; da

[2021-02-22 18:02] MFernflower commented on #28
my gcal says feb 23 8 am for me

[2021-02-22 20:26] Wilson-Lm commented on #28
@dmitrij176 , I am in contact with Wendy and we both are going with Time A, just like @MFernflower .

[2021-02-22 22:09] kym834 commented on #46
I've updated the series 2 repo - will discuss in meeting.
I have meeting for Tuesday 23rd

[2021-02-23 08:35] wwjvdsande commented on #28
For me the meeting was put in my agenda at 13:00 Amsterdam time. That is 3.5 hours from now

[2021-02-23 14:17] wwjvdsande commented on #28
Dear all,

With respect to my task. I already sent an e-mail to MMV to ask if there is something known about the mode of action of
MMV006357
MMV022478
MMV675968
MMV1782387

However from checking pubmed I already noted that **MMV675968** seems to be inhibiting **dihydrofolate reductase** in bacteria (PMID: 33604179)(PMID: 31666629). This would be a novel mode of action! @Wilson-Lm according to the

[2021-02-24 01:34] kym834 commented on #46
**Meeting Minutes** Recording is [here] Chat [here] (@fantasy121 to add links once uploaded to YouTube and repo)

Please add or edit anything omitted

1) @kym834 gave update on series 2 proposed synthesis route (see https://github.com/OpenSourceMycetoma/Series-2-Aminothiazoles/issues/4 for details). If synthesis goes as planned, it will be run with SSP students at the University of Sydney in April

[2021-02-24 10:56] dmitrij176 commented on #46
@bendndi further to our meeting discussion, could you please do the logD calculations for **MYOS compounds (Fenarimols)**. Here is the link to the Master List:

https://docs.google.com/spreadsheets/d/1YhK-3i2KwuVabo1GbZSgVjAUbavEICCMKi5v-EhNq80/edit#gid=954203120

All the information (including SMILES) is up to date and the excel file is downloadable.

[2021-02-24 11:00] mattodd commented on #46
@kym834 great minutes and actions - thank you for assembling, really helpful and important to do.

[2021-02-24 12:10] bendndi commented on #46
@dmitrij176  Done, also added in logP, rotatable bonds and flexibility value. Note however that there are two compounds with the same mycetos ID and this needs to be resolved  asap (MYOS_00018_00_01)

Once you have this resolved I'll calculate the logD etc for the one of these two compounds for which it is missing.

![image](https://user-images.githubusercontent.com/36627399/108998702-949c1000-76a

[2021-02-25 11:14] dmitrij176 commented on #46
@bendndi the duplicate issue has been resolved, thank you for spotting that. These compounds are two separate entries now, so only MYOS_00019_00_01 needs physiochemical calculations.

While going through the list yesterday, I have identified another mismatch in several entries:

![Master List](https://user-images.githubusercontent.com/44785501/109143319-8fee5f00-7768-11eb-90d0-7287d8810a36.jpeg)

[2021-02-25 11:51] wwjvdsande commented on #28
Dear all, I just found a review in which all the modes of action for the compounds of the pathogen box were listed.
[cmdc.201800755 (2).pdf](https://github.com/OpenSourceMycetoma/Series-1-Fenarimols/files/6042723/cmdc.201800755.2.pdf)

MMV006357
MMV022478 - Human NADPH oxidase inhibitors
MMV675968 - DHFR inhibitors
MMV1782387

[2021-02-25 21:56] kym834 commented on #28
@wwjvdsande great find!

[2021-02-26 08:47] mattodd commented on #28
@wwjvdsande OK great - but (and I'm sorry I've not yet read it) does that mean mechanisms for MMV006357 and MMV1782387 are not known?
And DHFR inhibition would be a novel antifungal mechanism of action? That seems particularly significant if so.

[2021-02-26 08:55] wwjvdsande commented on #28
@mattodd @kym834 The other two compounds were not from the pathogen box. They were from the stasis box and pandemic box respectively. For those boxes i could not find a similar paper. I'm waiting to hear back from MMV. Hopefully they can give me a bit more information. For current antifungal agents there are no antifungal agents with this mode of action. However it in academia they have shown for

[2021-03-01 13:01] Wilson-Lm commented on #46
Hi @bendndi, Thank you for calculating the LogD and P values for the fenarimol analogues,
Could you also do the logD calculations for compounds in the pandemic response box?
they are here: [https://docs.google.com/spreadsheets/d/1YhK-3i2KwuVabo1GbZSgVjAUbavEICCMKi5v-EhNq80/edit#gid=208916183 ](url)
Thank you!

[2021-03-08 21:11] dmitrij176 commented on #46
@fantasy121, I have only managed to find HPD033-1 in your ELN which is the same as the cyclohexane product. But again, is it 2P4 or 3P3?
And what about the middle one? Definitely its a different structure.
Can you check please

[2021-03-10 19:37] MFernflower commented on #46
@mattodd @bendndi  for some reason it says on my GCAL that today there will be a meeting!

[2021-03-21 08:59] mattodd commented on #46
Hi all (@OpenSourceMycetoma/corecontrib) in advance of the next meeting (Tue evening this week UK time), could people please browse the above minutes and action items and try to address things that are still needed? Also, are there any volunteers to create a new Issue containing the outstanding action items, using the above as a template? @fantasy121 @kym834 @dmitrij176 @Wilson-Lm ? I would do it

[2021-03-22 23:15] MFernflower commented on #46
@mattodd I don't seem to have a time for Tuesday's (In the US and UK) meeting

[2021-03-23 00:41] kym834 commented on #46
Hi @MFernflower,

Times for our next meeting are: Time slot B (New York 3 pm Tuesday March 23rd – Amsterdam 9 pm Tuesday March 23rd – Sydney 7 am/8 am Wednesday March 24rd – London 8 pm Tuesday March 23rd). Also written above in the minutes :)

[2021-03-23 00:59] kym834 opened #47 "Open Source Mycetoma (MycetOS) Meeting Mar 23/24 2021"
Our next meeting is on March 23 (24 if in Sydney) and we'll be meeting at Zoom ID: 992-8154-9497 https://uni-sydney.zoom.us/j/99281549497.

Previous meeting minutes are #46

**Agenda**

**1. Outstanding action items from #46:**
- [ ] @fantasy121 and @dmitrij176 to collate a table of their compounds with the columns **personal code, MYOS code, smile string and logD** and send to @Wilson-Lm and co.

[2021-03-24 02:00] MFernflower commented on #47
Sorry  I was unable to attend

[2021-03-25 11:10] wwjvdsande commented on #47
@kym834 @dmitrij176 @fantasy121  @Wilson-Lm @MA-Jjingyi @MA-Jjingyi I added the Mw and the AUCs in the master sheet. I also modified the MMV boxes and merged them into 1 sheet. I added Ma's recent COVIDbox screening data as well. For the COVID box we are currently running the IC50 experiments. Those data is not there yet. I have hidden the individual MMV files so that everyone works in the same fi

[2021-03-25 11:34] mattodd commented on #47
Thanks for adding the molecular weights @wwjvdsande - I think this makes you an honorary chemist :)
I agree with you about merging the sheets - very important, otherwise we'll get confused about where to add new data. Also agree with the idea of keeping Epichem sheet distinct for now.

[2021-03-25 12:33] wwjvdsande commented on #47
[Mycetos insights from the biological evaluations.pptx](https://github.com/OpenSourceMycetoma/Series-1-Fenarimols/files/6204624/Mycetos.insights.from.the.biological.evaluations.pptx)
Hereby also the slides from the powerpoint I presented during the meeting

[2021-03-26 10:09] mattodd commented on #47
Thanks for posting, Wendy. Just linking things up here - the folate inhibitors are discussed more at OpenSourceMycetoma/Series-4-MMV675968#1. (@wwjvdsande you posted in the right place, I'm just connecting the discussions)

[2021-03-30 07:29] wwjvdsande commented on #47
@drc007 it can be found here under OpenSourceMycetoma/General Start here and than the spreadsheet. It is: https://docs.google.com/spreadsheets/d/1YhK-3i2KwuVabo1GbZSgVjAUbavEICCMKi5v-EhNq80/edit#gid=1738158086

[2021-03-30 11:30] wwjvdsande commented on #47
@DrKDs above you can see the link for the new mycetOS meetings

[2021-04-03 18:44] drc007 commented on #47
@wwjvdsande @mattodd  Unfortunately for the import into DataWarrior I need a single row for the column headers, unfortunately the Google spreadsheet has two rows of headers.

[2021-04-11 11:28] fantasy121 opened #48 "SAR of in vitro, in vivo and LogD values. Questions"
I'm working on the structure-activity relationship of the compounds, based on our discussion in the previous meeting. I'm looking specifically at the LogD values and in vitro and in vivo efficacy of some compounds.

I was able to recreate one of Wendy's plot (below), get the structures of our compounds of interest (data coming shortly, let me work at them a bit more). I've done purple and blue reg

[2021-04-12 06:58] wwjvdsande commented on #48
@fantasy121 I will check the mastertable. The percentage growth of the MMV boxes is wrong. It should be in the same range as those for the MyOS compounds. Probably something went wrong when I used the original Excell file. In the Dutch version of Excell 100,0 is 100% not 100.0.

[2021-04-12 08:10] wwjvdsande commented on #48
@fantasy121 @mattodd @MA-Jjingyi @MFernflower @Wilson-Lm @dmitrij176 I managed to put Excell on the different format and re-entered the data. I also noted that MyOS_00015_00_01 and MYOS_00021_00_01 were swapped somewhere down the line. In the list were we entered the original data (that corresponded at that time still to hpd and dm names)  we added the MYOS names just before our last meeting. MyOS

[2021-04-12 08:29] wwjvdsande commented on #48
@fantasy121 we did compare the azoles with the fenarimols but I'm not sure if we should plot them all in one. The same trends are seen but the values are different for each class

![Dia9](https://user-images.githubusercontent.com/36398138/114364643-e299a400-9b79-11eb-8f62-658d56aa3b96.JPG)
![Dia10](https://user-images.githubusercontent.com/36398138/114364646-e3323a80-9b79-11eb-98d3-6c29dd197fe5.JP

[2021-04-12 08:42] wwjvdsande commented on #48
@fantasy121 I tried to see what was different between your figures and mine but one thing I noted was that you have a logD <2 and many >4. In the master sheet I did not see a logD <2 for the molecules we tested or that many compounds with a logD >4. We had one >5, you had none. Did you use the logDs in the masterlist or did you generate different logD values?

[2021-04-14 23:12] kbea282 opened #49 "Getting UoA Students Involved with SAR Work"
Kia ora e hoa mā,

My name is Kaitlin Beare, and I am an education-focused academic at the University of Auckland and former(reformed?) synthetic organic chemist. I know Alice and Matt from USyd and met Kym recently on a Zoom call. I'd really like to get my second year advanced students involved in some data analysis for this project and have a couple of quick questions about what would be most us

[2021-04-26 10:29] wwjvdsande commented on #28
Hi @kym834 @MA-Jjingyi @mattodd @fantasy121 @bendndi @dmitrij176 @Wilson-Lm, tomorrow we will have the MycetOS meeting again. According to the scedule it is time A. However above time A is stated at 13:00 Amsterdam time, in my agenda it is displayed at 15:00 Amsterdam time (when I use the outlook invites from kymberly. What time should it be?

[2021-04-26 10:36] kym834 commented on #49
Hi Kaitlin,

So great to hear from you! We have a meeting tomorrow (Tuesday 27th April) at 11 PM (Sydney, Australia time) that will be extremely late for you (1am!) so no pressure to join us but I'll add this to the agenda for us to discuss. It is recorded so you can always watch later but we will sum up the discussion here afterwards and get the ball rolling on this.

Also when would the students

[2021-04-26 10:51] kym834 commented on #28
@wwjvdsande For us, daylight savings has finished and I think now the times have become a little muddled.

With the changes in times would people be happy with the following time for our meeting tomorrow?

**_Sydney - 9 PM, Amsterdam - 1 PM, London - 12 Noon, USA (New York) - 7 AM all on April 27_**

[2021-04-26 10:52] mattodd commented on #28
In my diary for 2pm London tomorrow. Timezones:

https://www.timeanddate.com/worldclock/meetingdetails.html?year=2021&month=4&day=27&hour=13&min=0&sec=0&p1=43&p2=136&p3=37&p4=771&p5=240&p6=152&p7=224&p8=250

11pm Sydney, ouch...

[2021-04-26 11:03] kym834 opened #50 "Open Source Mycetoma (MycetOS) Meeting Apr 27 2021"
Hi All,
Our next meeting is on April 27 and we'll be meeting at Zoom ID: 992-8154-9497 https://uni-sydney.zoom.us/j/99281549497.

**_Time to be confirmed (see #28)_**

Recording of this meeting to go here

Previous meeting are here (#47)

## Agenda

**1. Update on SAR analysis**
 - Do we have some leads on chemical space to follow from our analysis?
 - Collab with Kaitlin from Uni of Auckland (#49

[2021-04-26 11:05] wwjvdsande commented on #50
@kym834 is emeritus ErasmusMC?

[2021-04-26 11:07] kym834 commented on #50
Yeah, sorry! I couldn't remember the name 100% and just googled it haha. I'll change above :)

[2021-04-26 11:08] wwjvdsande commented on #28
@kym834 @mattodd for me it does not matter which time it is. It is kings day and we have the day off so I did not plan other meetings. However I can imagine that others might have booked other meetings around this one. Shall we stick with the one displayed in the agenda item of outlook? So the one in Matt's comment?

[2021-04-26 12:53] mattodd commented on #28
Don't mind. Can do 12 noon London time, though a little more difficult. That'd be more civilised for the Aussie crew!

[2021-04-27 06:34] wwjvdsande commented on #28
So it will be
**Sydney - 9 PM, Amsterdam - 1 PM, London - 12 Noon, USA (New York) - 7 AM all on April 27** ? @kym834 can you confirm?

[2021-04-27 06:51] fantasy121 commented on #28
I think Kymberley is waiting till like 10 more minutes (5PM Sydney time) to confirm to give people a chance to see/reply to the time change. But it’s likely that we will proceed with this new time.

[2021-04-27 07:06] kym834 commented on #28
Let go with the new time. So that is Sydney - 9 PM, Amsterdam - 1 PM, London - 12 Noon, USA (New York) - 7 AM all on April 27

I'll update the issue for the meeting and add an item to the agenda to make some changes to the time now that daylight savings has started/ended.

[2021-04-27 12:07] MFernflower commented on #50
@dmitrij176 @kym834 RE: the oxime I proposed:

![Ketoxim](https://user-images.githubusercontent.com/3164942/116238625-9761c280-a72f-11eb-83ea-34bfb40f3f9f.png)

[2021-04-27 12:10] kym834 commented on #49
Just noting @wwjvdsande suggestion from the Zoom meeting so we don't forget

[2021-04-27 12:55] drc007 commented on #50
You will get double bond isomers of the ovine.

[2021-04-27 14:58] MFernflower commented on #50
Will need to be noted once compound is made as being a racemate of cis/trans

[2021-04-27 18:39] MFernflower commented on #50
@dmitrij176 @drc007 @wwjvdsande Was the Pyrifenox that was screened racemic or enantiopure?

[2021-04-27 19:38] mattodd commented on #50
"Racemate" isn't the right word here @MFernflower (nor are cis and trans, if we're being correct). I imagine the isomer ratio is known for lab-prepared Pyrifenox, but I wonder if the isomers interconvert in vivo, and I'm sure that must be known too?
I'm suddenly asking myself what the IUPAC word is for 1:1 mixture of E and Z isomers. Not that that would be a terribly common situation, but still.

[2021-04-27 23:09] MFernflower commented on #50
It seems like commercially it's used as a mix of anti and syn isomers???

https://sor.epa.gov/sor_internet/registry/substreg/searchandretrieve/substancesearch/search.do?details=displayDetails&selectedSubstanceId=88140

@mattodd

[2021-04-28 16:04] dmitrij176 commented on #50
I think its a mix as well, though there is no direct indication on that.

![Pyrifenox_Structural_Formula_V1 svg](https://user-images.githubusercontent.com/44785501/116435901-c406fe80-a843-11eb-8eea-351ee0954412.png)

[2021-04-29 02:05] MFernflower commented on #50
@dmitrij176 Of course the compound I proposed depends on if @kym834 can/when get the O-methylhydroxylamine

I did find an interesting patent possibly allowing for conversion to a single isomer

[2021-04-29 02:05] MFernflower commented on #50
https://patents.google.com/patent/EP0009865A1/en

[2021-05-03 21:20] MFernflower commented on #50
@dmitrij176 @kym834 I also dug up a interesting synthesis route: http://www.asianjournalofchemistry.co.in/User/ViewFreeArticle.aspx?ArticleID=19_3_81

[2021-05-03 21:53] MFernflower commented on #50
@dmitrij176 Is this in refrence to pyrifenox or to the molecule I proposed?

[2021-05-03 21:54] dmitrij176 commented on #50
pyrifenox

[2021-05-03 21:57] MFernflower commented on #50
Might be interesting to have @kym834 do the bismuth grinding route than for the compound I proposed

[2021-05-03 22:06] dmitrij176 commented on #50
@MFernflower agree. I mean, at the moment pyrifenox is only the starting molecule in the oxime series. For other novel oximes, I would be interested in grinding too. Apparently this method gives good yields, so its worth trying.

[2021-05-04 04:28] MFernflower commented on #50
@dmitrij176

This ketone is cheap, available in the uk and is only one step away from a
novel oxime

http://www.fluorochem.co.uk/Products/Search?searchType=N&searchText=3-(4-chlorobenzoyl)pyridine

Might be worth a shot

[2021-05-12 10:35] mattodd commented on #50
Hi, sorry to raise this again, @OpenSourceMycetoma/corecontrib, but when's the next meeting? I'd like to invite along @AndyBishopSevenoaks .

As is now traditional, I have two Outlook bookings.

![Screenshot 2021-05-12 at 11 31 56](https://user-images.githubusercontent.com/4386101/117961302-df7b0a80-b315-11eb-8d73-6b5c00f86a07.png)

Could we erase these and just sort the next meeting time immediat

[2021-05-13 06:17] fantasy121 opened #51 "Structural Activity Relationship Analysis of biological evaluation For Fenarimol Analogues/Epichem compounds"
Following my matching up structures with their _in vitro/in vivo_ data and LogD data, this is an update on my preliminary SAR for our compounds so far.

I tried to further categorise our 167 screened Fen analogues compounds. I used the initial _in vitro_ leads from our first scree as a starting point and also consider our most recent _in vivo_ hits.

Hits from initial Fen analogue screen:
![Screen

[2021-05-13 06:20] fantasy121 commented on #51
MOTIF 1
![Di-aryl piperazines](https://user-images.githubusercontent.com/36176821/118086208-ef264c00-b406-11eb-8f2f-bb3b3ac528e2.png)

[2021-05-13 06:26] fantasy121 commented on #51
MOTIF 2
![Tri-aryl alcohols](https://user-images.githubusercontent.com/36176821/118086819-e41feb80-b407-11eb-931e-a18f21044019.png)

[2021-05-13 06:28] fantasy121 commented on #51
MOTIFS 3 and 4 Work in Progress.

But from my categorising so far, we can see emerging patterns of good/bad _in vitro_ compounds that are related to the _in vivo_ leads

[2021-05-13 06:54] fantasy121 opened #52 "Roster of Hosts and Minute Takers for upcoming Monthly MycetOS meetings"
<img width="1247" alt="Screen Shot 2021-05-13 at 4 41 45 pm" src="https://user-images.githubusercontent.com/36176821/118089257-7fff2680-b40b-11eb-91b5-9697b50ae2a0.png">

The responsibilities:
HOST:
- Look at the agenda to guide conversation during the meeting. You should address each agenda item and ask for opinions/discussion.
- Make sure all or most of the agenda items are also discussed
- Keep

[2021-05-13 06:57] fantasy121 commented on #52
For next month, Erasmus University will be our meeting host @wwjvdsande @MA-Jjingyi @Wilson-Lm, with UCL being the minute taker @mattodd @dmitrij176

The following month, UCL will become the host and USYD will be the minute taker @fantasy121 @kym834

[2021-05-13 06:59] fantasy121 opened #53 "ISNTD Mycetoma Event"
@mattodd Could you please tell us a bit more about this event? You had left when we got to this agenda item so we'd love to hear more about it from you. @wwjvdsande has filled us in a little bit. Thanks

[2021-05-13 07:55] fantasy121 opened #54 "Open Source Mycetoma (MycetOS) Meeting May XX 2021"
Hi All,
Our next meeting is on (Date and Time TBC @kym834 ). Kymberley will update this when she's back from leave.

We'll be meeting at Zoom ID: 992-8154-9497 https://uni-sydney.zoom.us/j/99281549497.

Times: TBA

Recording of this meeting to go here

Previous meeting are here (#50 )

Agenda

- [ ] ISNTD talk event @mattodd @wwjvdsande. Also see #53
- [ ] Check Master List for Duplicate compounds

[2021-05-13 08:06] fantasy121 commented on #54
I've worked out the isomeric forms of the following ( I've added a note on the master list of their isomeric identity):

MYOS_00004_00_01 _(S)_ enantiomer version of EPL-BS1246
MYOS_00010_00_01 racemate version of EPL-BS1025
MYOS_00117_00_01 _(S)_ enantiomer version of EPL-BS1246
MYOS_00138_00_01 DM16-1 ?

Can you confirm that 00138 is a racemate? @dmitrij176

We need a better solution to retain i

[2021-05-13 13:19] mattodd commented on #54
Yes @fantasy121 this looks important to sort out - we can't have duplicative numbers. The codes we're using do not have something for enantiomeric excess, so it's easiest to give racemate and enantiomer separate codes. So those ones you highlighted above need correcting, and any other instances of this need to be identified.

[2021-05-13 13:22] mattodd commented on #52
Sounds good to me!

[2021-05-13 13:28] mattodd commented on #51
OK, great. An important analysis that we'll surely need in the paper.
An outcome here would be a clear set of favoured and disfavoured compounds that we can use in a search of the Epichem library to see if there are any compounds lurking there that we really ought to evaluate.

[2021-05-13 13:42] dmitrij176 commented on #54
@fantasy121 @mattodd  MYOS_00138 is definitely a racemate. So I though that we all agreed that isomers/enantiomers would be noted in the **aka** section, because we havent devised any MYOS convention in the context of the MYOS code.

Regarding duplicates, yes @fantasy121 no problem. I will check the list.

[2021-05-13 14:20] mattodd commented on #54
"Different stereoisomers (or mixtures thereof) should have different MYOS codes (i.e. a difference in the first 5 numbers)" was how we have it in [the numbering convention](https://github.com/OpenSourceMycetoma/MycetOS-Tech-Ops/wiki/The-Molecule-Numbering-Convention).
Obviously if we have to delete a number because it's a duplicate then we just delete it and we don't renumber all the later compoun

[2021-05-23 20:44] mattodd commented on #54
Hi all @OpenSourceMycetoma/corecontrib - any update on the date/time of the meeting (https://github.com/OpenSourceMycetoma/Series-1-Fenarimols/issues/50#issuecomment-839665973)? Currently assuming 25th at 10 pm London?

[2021-05-23 20:49] Wilson-Lm commented on #54
If I recall what was agreed in the last meeting, we will now stick to the same time for the next few meetings or until changed. The meeting will be on 25th on this time:

Times: Sydney - 9 PM, Amsterdam - 1 PM, London - 12 Noon, USA (New York) - 7 AM.

[2021-05-24 07:23] fantasy121 commented on #54
Date and time for our May meeting is now confirmed, please look at OG post @OpenSourceMycetoma/corecontrib @bendndi @alintheopen @pedrochemicals @kbea282

[2021-05-24 16:53] MFernflower commented on #54
@kym834 Perhaps one of the students you are working with could prepare the oxime I proposed?

[2021-05-25 04:39] MFernflower commented on #54
@kym834 The student could perhaps try making the oxime by grinding: https://orgmedchemlett.springeropen.com/articles/10.1186/2191-2858-1-12

[2021-05-25 09:36] fantasy121 commented on #54
@OpenSourceMycetoma/corecontrib sorry I’m an apology for tonight. I was filming for a science communication project but went overtime. I won’t make it in time for our meeting. I will work on finishing the rest of my SAR this week and post on GHI

[2021-05-25 11:20] MFernflower commented on #54
@dmitrij176
![ketone](https://user-images.githubusercontent.com/3164942/119489360-9c636300-bd29-11eb-9df7-e4ec193d79e0.png)

[2021-05-25 18:06] MFernflower commented on #54
From today's meeting - a possible trio of oximes to follow after pyrifenox: @dmitrij176

![oximesMay25](https://user-images.githubusercontent.com/3164942/119546882-67273700-bd62-11eb-8148-b79bf51cc67c.png)

[2021-05-25 23:11] MFernflower commented on #54
https://wi.knaw.nl/page/fungal_display/8589

@wwjvdsande

Boydii is commercially available from an NL supplier

I think the strain used is a white grain mycetoma isolate.

[2021-05-27 03:11] MFernflower commented on #54
@dmitrij176

finished oxime proposal list:

![119546882-67273700-bd62-11eb-8148-b79bf51cc67c](https://user-images.githubusercontent.com/3164942/119760237-a2675a00-be77-11eb-85de-c431054fcef6.png)

[2021-05-31 13:49] wwjvdsande opened #55 "paper writing"
@mattodd @dmitrij176 @fantasy121 @Wilson-Lm
To keep track of the writing, wilson had prepared a google docs for the paper. We added the last analysis in but the chemistry is lacking. I know we did not finish all experiments yet but it might be handy to put everything we have already in the manuscript file. The file can be found here: https://docs.google.com/document/d/13iRAEGrZfuupZUADGE5y_iJuicfP

[2021-06-01 10:36] dmitrij176 commented on #54
@kym834 could you please add some additional information that you think might be relevent to the minutes section, under the university of Sydney paragraph. You will see several brackets as you go through it. Just 1-2 sentences with details on group variation and the hit compound.
Also, could you send me the info/links on the synthesis that we talked about last time.
Thanks in advance.

[2021-06-01 18:01] MFernflower commented on #54
@dmitrij176 what one of the three proposed oximes are you going to make?

[2021-06-01 21:56] kym834 commented on #54
**Synthesis**
Step 1 -  lithium halogen exchange and substitution (KRS_015)
https://github.com/TheBreakingGoodProject/ELN-Kymberley-Scroggie/issues/24
Step 2 - TEMPO oxidation (KRS_003)
https://github.com/TheBreakingGoodProject/ELN-Kymberley-Scroggie/issues/11. Note that this oxidation is dependent on pH and temperature. If you keep the ratio of buffer to solvent to bleach you shouldn't have any p

[2021-06-02 14:12] dmitrij176 commented on #54
Thank you Kymberley.

[2021-06-06 08:36] fantasy121 commented on #51
MOTIF 3

![Tri-aryl alcohols](https://user-images.githubusercontent.com/36176821/120918106-013d9680-c6f6-11eb-9117-a312c50cb4fa.png)

[2021-06-06 08:37] fantasy121 commented on #51
MOTIF 4

![Like EPL1025:1246](https://user-images.githubusercontent.com/36176821/120918127-1ca8a180-c6f6-11eb-8371-30270a5a639a.png)

[2021-06-06 08:43] fantasy121 commented on #51
OTHERS

![Others](https://user-images.githubusercontent.com/36176821/120918278-0222f800-c6f7-11eb-82bc-10d3e2b9b28b.png)

[2021-06-10 06:32] fantasy121 opened #56 "Duplicate MYOS codes found in Master Sheet for some compound structures"
Currently there are 11 structures that have multiple MYOS codes assigned to them. There could be a few reasons that this happened, as follows:

A) Check if there is a mistake in the structures (eg: maybe a copy-paste error in the SMILES string that might give the same structure to two different compounds)

B) If two entries are the same compound structure but are synthesised separately (like a res

[2021-06-10 09:59] mattodd commented on #56
Thanks for laying all this out @fantasy121 - important we clarify these and amend the codes.
I guess we need to ensure that if anyone is adding compounds to the master list that they search on the SMILES first to check if the compound is already present, and we ought to add that to a "tech-ops" page, if we don't already have it.

For compounds that are tested twice on the same batch, I don't mind

[2021-06-11 18:19] dmitrij176 commented on #56
Hi @fantasy121. Thanks for these suggestions; I did all necessary corrections.
In some cases, duplicates arised because of the lack of information (eg. Enantiomeric forms, racemates etc) that was added after the list was created. I know that, because I have backup versions of the excel files. I will go individually through each of the 11 problems and explain/comment what has happened:

1. MYOS_000

[2021-06-19 11:25] dmitrij176 opened #57 "Biological evaluation 2021"

[2021-06-19 11:28] dmitrij176 opened #58 "Open Source Mycetoma (MycetOS) Meeting June 22 2021"
HI all.

Our next MycetOS meeting will be held next Tuesday (June 22nd).

Meeting Zoom ID: 992-8154-9497 https://uni-sydney.zoom.us/j/99281549497.

Times: Sydney - **9 PM**, Amsterdam - **1 PM**, London - **12 Noon**, USA (New York) - **7 AM**

Recording of this meeting to go here

Previous meeting link #54

**Agenda**

- [ ] UCL update
- [ ] USYD update
- [ ] Erasmus update
- [ ] @mattodd update

[2021-06-19 22:09] MFernflower commented on #58
@dmitrij176 RE the oximes: You now have two yes - Would you consider making a trio with desdichloro-pyrifenox?

https://user-images.githubusercontent.com/3164942/119760237-a2675a00-be77-11eb-85de-c431054fcef6.png

![119760237-a2675a00-be77-11eb-85de-c431054fcef6](https://user-images.githubusercontent.com/3164942/122656535-7b740f00-d129-11eb-8bfe-5b3064f5346e.png)

[2021-06-20 09:11] mattodd commented on #58
Hi @dmitrij176 (and others who may do minutes in future, now that we've taken the excellent step of crowsourcing the admin behind these meetings) - it'd be useful to include up the top of the Issue who is assigned to chair the meeting/write the minutes. e.g. by assigning this Issue to them, or linking back to the schedule that was devised.

And for the agenda - try to separate out discussion point

[2021-06-22 04:52] fantasy121 commented on #56
Thanks @dmitrij176 for updating the Master List codes.

I vote for re-test compounds receiving the same MYOS_XXXXX_YY_ZZ code as the first time tested, but being put on a separate line (thus getting new ascending numbers. @mattodd

I put together a brief guide to help enter new MYOS codes and avoid duplicates in the future, which reads:

I put this as a highlighted comment on the Master List

[2021-06-22 05:56] kym834 commented on #58
Hi All - I'm am apology for tonight. Quite last minute I've been offered a ticket to go see Hamilton!
I've posted an update on the compounds we made for Series 2 with the SSP students [here](https://github.com/OpenSourceMycetoma/Series-2-Aminothiazoles/issues/6).
These compounds have been assigned MYOS numbers, their details added to the master list and we now have a new column that indicates whic

[2021-06-22 11:26] mattodd commented on #55
As @wwjvdsande mentioned in the June meeting #58 it'd be very useful to start the process of making sure that the paper contains adequate descriptions of the synthetic chemistry. We can reference procedures that are already published, but we need to add in characterisation data, particularly regarding the _purity of novel compounds that were biologically evaluated_. I guess most of the heavy lifti

[2021-06-22 12:35] fantasy121 opened #59 "Template for MycetOS Monthly Meetings"
### **Open Source Mycetoma (MycetOS) Meeting**

**Time:**

**Chair:**

**Minute taker:**

_Recording_ can be found here

_Minutes_ can found here

**Link to previous meeting**
____________________________________________
### AGENDA

### 1. Outstanding items from previous meeting

### 2. Discussion points for this meeting

- a
- b
- c

### 3. Any other businesses?

Meeting adjourned.

[2021-06-22 12:40] fantasy121 commented on #59
I drafted a template for meeting GHI. @OpenSourceMycetoma/corecontrib

In "Write" mode, you should see hidden texts that help guide you fill out the different lines. Example:

<img width="865" alt="Screen Shot 2021-06-22 at 10 35 36 pm" src="https://user-images.githubusercontent.com/36176821/122925733-770a5900-d3aa-11eb-8884-f2789965f265.png">

If you want to use the template, just click the setti

[2021-07-08 00:42] fantasy121 opened #60 "Interpretation of (negative) in-vitro results"
@wwjvdsande I think this question has been asked before in a meeting but I can't trace back the answer. Making a new GHI for this for future reference.

The quoted _in vitro_ results are growth of mycetoma at 100 uM of a compound. If the growth is negative, how should I interpret this result? Is a more negative result better or is a negative growth considered "zero"? For instance, if I have MYOS_0

[2021-07-08 08:07] mattodd commented on #60
My first guess would be that those numbers are within the experiment's
margin of error.

On Thu, 8 Jul 2021, 01:42 Hung Phat Duong, ***@***.***> wrote:

[2021-07-09 06:17] wwjvdsande commented on #60
Due to the nature of the assay, a number below zero means that it is completely inhibited. Since we use a hyphal inoculum and madurella forms a pigment which might interfere with the viability dye used there is always a bit of variation between the wells. That is also why we use the treshold of 20%. Biologically seen we say that everything below 20% growth is completely inhibited. It does not matt

[2021-07-09 07:19] fantasy121 commented on #60
Thanks for the clarification. This will help with my SAR exploration a great deal.

For the growth between 20% and 100+%, how sensitive are the _in vitro_ values? Is it going to be down to every 1%, every 5%, every 10%, every 20% or something else? Is the sensitivity going to be less accurate towards the 20% range, compared to towards to 100% range, or is the sensitivity similar for everything in

[2021-07-12 13:55] dmitrij176 commented on #57
![Biological evaluation (June 2021)](https://user-images.githubusercontent.com/44785501/125297126-a2d88900-e32f-11eb-8816-39e33f1513cb.png)

Good day @wwjvdsande. UCL compounds have been delivered to Rotterdam today. Due to Brexit and corresponding change in delivery terms to the EU, we had some issues with customs which caused an unexpected delay (the shipment was originally scheduled for deliver

[2021-07-12 13:59] wwjvdsande commented on #57
@dmitrij176 we just received in 30 minutes ago. Is it OK to store them at room temperature before we dilute in DMSO? The compouds of @kym834 are suspected to arrive this week as well so than we can test them all together in one go. After adding DMSO we will store them at -20 or do you prefer otherwise?

[2021-07-12 14:46] dmitrij176 commented on #57
They are all stable at room temperature. Following synthesis and purification, we usually store them in a freezer, so both options are ok. Also, I did some NMR characterisation using deuterated DMSO as a solvent, and had no stability problems as well.

[2021-07-13 02:27] MFernflower commented on #57
@wwjvdsande once all the compounds arrive - are you thinking you will be able to screen the potent ones in waxworms?

[2021-07-13 06:20] wwjvdsande commented on #57
@MFernflower we will test the compounds first in vitro. We will use the same criteria as for the previous compounds. Only those compounds who show potent in vitro activity will be tested in the larvae. The larvae are labour intensive and there is no use in screening compounds which have no effect on the fungus in vitro.

[2021-07-13 08:10] dmitrij176 commented on #57
@mattodd @wwjvdsande having started new oxime series, I came across a small issue with MyOS repository. The Google excel sheet where we register our new project molecules appears under the name ''MYOS compounds (Fenarimol analogues)''. So the implication is that the table is specifically designated for Fenarimols. But what happens when we start exploring new classes as in my case?
Ideally, all ent

[2021-07-13 08:15] wwjvdsande commented on #57
@dmitrij176 @mattodd I think we could rename it to MyOS compounds but there should be a column with an identifier which locates it to a molecule series so that for us non-chemists it makes it possible to select different compound series for further analyses.

[2021-07-13 08:23] mattodd commented on #57
Yes, rename the sheet, add a column for Series. I would strongly recomment Fenarimols being Series 1 (i.e. a "1" for those entries) and then the other series being given unambiguous names that are added to the front page of any associated repositories. I believe 2 is aminothiazoles, 3 is "tricyclics" (though we need to be careful that that is accurately defined) and so on. Looks like "ketoximes" w

[2021-07-13 08:24] dmitrij176 commented on #57
@wwjvdsande do you think it would be better to have all molecules in one table or diversify them based on their respective classes?
Another option might be adding all entries to one table, but then create separate excel files (like we did for in vitro/vivo and logD) where we copy specific information related to that class. Maybe that could make it easier for evaluation purposes.

[2021-07-13 08:28] wwjvdsande commented on #57
@dmitrij176 @mattodd I agree with Matt to add the series number and keep it consistent. For me it is OK if everything stays in one table. Might be easier. In that case anyone can substract the data they need in their own software.

[2021-07-13 09:20] dmitrij176 commented on #57
![Biological evaluation (June 2021)](https://user-images.githubusercontent.com/44785501/125426132-8877675d-dcab-4bca-be08-c0ec5198aab9.png)

@wwjvdsande updated version

[2021-07-14 18:34] MFernflower commented on #57
@mattodd series 3 should really be called phenothiazines - I can update repo with new research papers etc

[2021-07-16 02:15] fantasy121 opened #61 "Potential Candidates for in vivo screening"
Hi @OpenSourceMycetoma/corecontrib, I saw in my SAR some interesting fenarimol analogues that are promising for in vivo. I wonder if @wendy you are already testing some of these, I think these will be quite good in terms of rationalising the SAR, and potentially furthering our LogD v in vivo potency theory.

These compounds I highlighted with a red nt (not tested) in the tables below, they all hav

[2021-07-16 06:47] wwjvdsande commented on #61
@fantasy121 So far we did not start testing any of the compounds _in vivo_. However if there is a good rationale of course we can do that. @MA-Jjingyi as a first control we will test if they are still having the same potency after storage. If so than we could take them along in case there are not too many compounds to be tested from the new series. When we know the _in vivo_ activity of the new co

[2021-07-18 04:02] fantasy121 commented on #61
I added a scale of priority. More +++ more priority. Hope this helps : )

[2021-07-20 09:03] wwjvdsande commented on #61
@fantasy121 @mattodd @bendndi we checked the list and retested the compounds against _M. mycetomatis_ to make sure they are still active after prolonged storage. Unfortunately after retesting they don't seem to be active anymore. Can the compounds selected by hung be sent over one more time so that we can test them in vitro and in vivo?

[2021-07-20 12:36] MA-Jjingyi commented on #61
@kym834  Hi, Kymberly. thanks for your compounds. we received them last Friday. there is an issue that two compounds have different weight number from the bottle to the excel. please have a check with those two compounds weight called MYOS_00173_00_01(HPD053-1P5) and MYOS_00174_00_01(HPD044-1P5) .

[2021-07-20 16:01] mattodd commented on #61
@wwjvdsande it's a significant worry that compounds are not retaining potency and may be deteriorating.
1) How old are those samples you tested, roughly?
2) How are they stored? In DMSO at room temp?
3) Is the problem affecting all the compounds tested?
4) Could a chemistry team re-examine a batch of one of these compounds (stored in Sydney or UCL) by NMR to see if the compounds are degrading?

[2021-07-20 16:42] dmitrij176 commented on #61
@mattodd @wwjvdsande I recently did an NMR re-check of compounds which are at least 7-8 months old (eg: DM29-1, DM30-1, DM31-1) and no stability issues were detected. Previously, here at UCL we investigated the effect of DMSO solvent on one of the fenarimols for 2 months and so far the structure was stable. I can recall only one compound that failed to fully replicate in vitro results- DM16-1 posi

[2021-07-21 00:54] fantasy121 commented on #61
@wwjvdsande @mattodd The compounds recommended by me above are all from the epichem library, except for MYOS_00133, which was synthesised by me. I can re-characterise MYOS_00133 to see if it's still stable, and will let you know. But Sydney is currently in lockdown so there will be a delay getting back to you.

[2021-07-21 00:56] fantasy121 commented on #61
@MA-Jjingyi Where there is a discrepancy, can you please you the values supplied in the cover letter
MYOS_00173_00_01(HPD053-1P5) 2.90mg
and MYOS_00174_00_01(HPD044-1P5) . 2.66mg

[2021-07-21 00:59] fantasy121 commented on #61
@OpenSourceMycetoma/corecontrib For the latest batch of shipped compounds from me, I have re-checked for stability (with NMR) before shipping them over as well, due to the lag time between me making them (Q4 2020) and shipping them (now). So to the best of my knowledge, all of my re-checked compounds are viable thus far.

[2021-07-21 01:13] fantasy121 commented on #61
From memories, I think the epichem compounds are stored refrigerated in DMSO. All synthesised compounds are shipped as is, then similarly stored once testing is undertaken.

[2021-07-21 08:35] MA-Jjingyi commented on #61
@kym834  MYOS_00174_00_01(HPD044-1P5) . 2.90mg and MYOS_00173_00_01(HPD053-1P5).2.66mg are in the glass bottles stickers. this is the different with the excel. so I should trust the number in the excel not the sticker in the glass bottles?

[2021-07-21 09:56] kym834 commented on #61
@MA-Jjingyi Glad the compounds made it!

From what you are saying that the masses are switched for these two compounds. The sticker on the glass bottle for MYOS_00173_00_01 has a mass of 2.66 mg but on the excel it has 2.90 mg. And for MYOS_00174_00_01 the glass bottle has 2.90 mg but the excel has 2.66 mg. Is this right?

These are @fantasy121 compounds but I think he wants you to use the numbers

[2021-07-21 10:41] MA-Jjingyi commented on #61
@kym834  ok. i will follow this number: MYOS_00173_00_01 (HPD053-1P5) has a mass of 2.90 mg
MYOS_00174_00_01 (HPD044-1P5) has a mass of 2.66 mg.  thank you.

[2021-07-22 06:15] wwjvdsande commented on #61
@fantasy121 the compounds were dissovled in DMSO upon arrivel and stored at -20. We retested all of them since it was a while since we last used them and it is not that much more work to test all in the first screening or to test only a few. The freezers are on a monitoring system and nothing happened to the temperature since they were frozen in.

[2021-07-22 06:23] wwjvdsande commented on #61
The samples tested are from 2016. We also included itraconazole as a control and that still worked. We repeated the assay 3 times now to make sure. A chemistry re-examine might be done however is it not most practicle to see if these compounds can be resend and retested and hopefully to make it by the end of this larvae season. We don't have to do the full in vitro analyses for those before the la

[2021-07-26 10:07] fantasy121 opened #62 "Open Source Mycetoma (MycetOS) Monthly Meeting 27th July 2021"
### **Open Source Mycetoma (MycetOS) Meeting 27th July 2021**

**Time:** UTC 11:00 - London Noon - Amsterdam 1 PM - Sydney 9 PM - New York 7 AM

**Chair:** USYD @fantasy121

**Minute taker:** Erasmus University Team @wwjvdsande to appoint minute taker

_Recording_ can be found here

_Minutes_ can found here

**Link to previous meeting** #58
____________________________________________
### AGENDA

[2021-07-26 10:07] fantasy121 commented on #62
@OpenSourceMycetoma/corecontrib Meeting details for July meeting is now up. Apology for the late notice.

[2021-07-27 11:37] mattodd commented on #61
As per the meeting just now, yes, let's ask Epichem if they have any more of these compounds destined for in vivo testing, since we're in doubt about whether our stocks at Erasmus MC are still OK. In vitro testing of any Epichem compounds should tell us whether *those* stocks are still OK!

[2021-07-27 11:51] mattodd opened #63 "Any Data on Metabolic Clearance for Fenarimols?"
If we're aiming for an orally available pill, then metabolic clearance is relevant. i.e. human microsomal data.

Can we dig up the data for CLint or t1/2 that exist on any MycetOS compounds from the original Epichem publications?

Can we then plot those data vs logD?

It'd be useful to know whether low logD also helps us via better in vitro pharmacokinetic data.

I say "we" - I mean anyone interes

[2021-07-27 11:54] fantasy121 commented on #55
@mattodd @dmitrij176. Here's the link to the SAR dropbox. The main file is the word document and the excel spreadsheet. All raw data are available in the other folders as well. Please have a look and let me know if you have any suggestion/thought/idea. I'm keen to have another catchup on Zoom with you guys to talk more about this too.

https://www.dropbox.com/sh/ppueyu7sen8wy8r/AAAwBulBTKjdbD4VTPn

[2021-07-29 07:29] wwjvdsande commented on #62
Action items based on this meeting:
1.	Matt will inform if there is an update on the ISNTD conference
2.	Ma will perform in vitro susceptibility testing on the compounds and will inform everyone on github on the outcomes
3.	The SAR performed by Hung and Kymberly will be checked by Matt and Dimitrij
4.	Synthesis of compounds and SAR will be added to manuscript
5.	The compounds needed for in vivo te

[2021-08-05 08:00] dmitrij176 commented on #57
Hi @MA-Jjingyi. Wanted to ask how is the _in vitro_ screening going? Do you know when the results are expected for release?

[2021-08-05 09:09] wwjvdsande commented on #61
@fantasy121 I checked the list you sent

MYOS00014 EPL-BS0115 (++) --> has an IC50 of 8,0 will be tested
MYOS00042 EPL-BS0374 (+++) --> does not inhibit growth at 25 uM --> cannot reach that concentration in the larvae
MYOS00106 EPL-BS0613 (++++) --> does not inhibit growth at 25 uM --> cannot reach that concentration in the larvae
MYOS00133 HPD37-1 (+) --> IC50>16. We will retest this to see what

[2021-08-05 11:02] MA-Jjingyi commented on #61
@wwjvdsande @mattodd @kym834 @fantasy121 @dmitrij176. Today the first in vitro results for the new compounds arrived. These are the results of only one testrun and we are currently running the duplicate experiments. So-far it seems that from series 1 (the fenarimols)  MYOS_00147_00_01, MYOS_00148_00_01, MYOS_00150_00_01, MYOS_00191_00_01, MYOS_00192_00_01, myos_00166_00_01, myos_00167_00_01, myos_

[2021-08-05 11:19] dmitrij176 commented on #61
Great news. Will be waiting for full results. Thank you @MA-Jjingyi .

[2021-08-05 11:43] MA-Jjingyi commented on #61
it won't be long. 😁 I will post the results as soon as I get them.

[2021-08-05 12:27] mattodd commented on #61
@dmitrij176 it'd be very useful if, when the results are confirmed, you could add in the structures and colour code according to activity, then post here directly? Also highlight any structures that are the structurally closest to those we have evaluated, thereby allowing us to see whether any of the activities are surprising - that will assist with the SAR analysis you're doing with @fantasy121

[2021-08-05 13:01] dmitrij176 commented on #61
@mattodd already started a draft version.

[2021-08-06 15:07] dmitrij176 commented on #57
@wwjvdsande @MA-Jjingyi has MYOS_00016_00_01 (DM7-1 active with piperidine motif) ever been tested against  F. senegalensis?

[2021-08-09 15:50] MA-Jjingyi commented on #57
@dmitrij176 sorry to slowly reply.  we have tested the compounds against F.S and M.M at 25uM. it works well with M.M, not F.S. but we just tested one time in the past. I will repeat the test this week. and I will let you know the results soon.

[2021-08-12 06:15] fantasy121 commented on #62
@MA-Jjingyi @mkonings Martine just emailed me and told me that the requested Epichem compounds have been re-shipped. Please look out for them. Thanks.

[2021-08-12 10:06] MA-Jjingyi commented on #62
@fantasy121 Yep. I will pay attention to it. I will let you know when I receive them.

[2021-08-17 08:52] MA-Jjingyi commented on #62
@fantasy121 we have received the Epichem compounds from Martine. thanks. we plan to do vivo test recently.

[2021-08-18 02:45] fantasy121 commented on #62
@OpenSourceMycetoma/corecontrib re: August meeting. I want to suggest we don’t have a meeting in August and resume meeting in September instead. This is because Wendy and Mat are on leave, according to July meeting, and Sydney is in lockdown so there won’t be significant updates from USYD. What does everyone think?

Are Mat and Wendy still going to be away for this meeting? I’m still happy to join

[2021-08-18 08:41] dmitrij176 commented on #62
@fantasy121 I was on holiday and dont have any updates either. Unless there are objections, I would postpone our meeting to next month.

[2021-08-19 16:17] MA-Jjingyi commented on #57
@dmitrij176  the compound named MYOS_00016_00_01 (DM7-1)just inhibitor F.senegalensis growth at 100uM from 3 times experiments, not 25uM.

[2021-08-30 15:27] dmitrij176 commented on #63
<img width="908" alt="image" src="https://user-images.githubusercontent.com/44785501/131357722-51eccab2-6316-4bdb-9185-cf1324afad06.png">

@mattodd @wwjvdsande @fantasy121 @MA-Jjingyi @MFernflower here is the graph on Metabolic clearance versus logD. The analysis is based on 434 compounds from the Epichem library. There are 927 entries in the library, but most of them are missing either calculated

[2021-08-30 15:33] MFernflower commented on #63
For what it's worth the azoles (of which our fenarimol derivatives can be
thought of as a sister class to) have variable half lives but as a general
rule it's said to be around 20 hours on the high side and 16 on the low side

[2021-08-30 15:41] dmitrij176 commented on #63
![Untitled Document-3](https://user-images.githubusercontent.com/44785501/131365232-8b0045f8-4190-44ef-9dec-cbfe7049d9ac.png)

Attached scheme depicts 10 top scoring compounds with the highest CLint values in the set.
LogD range: **2.8-5.2**
CLint range: **332-668 μL/min/mg**

Interesting observation: ketoxime (top right) has high CLint value (435 μL/min/mg ) at logD 5.2, which is twice as much as

[2021-08-30 15:48] dmitrij176 commented on #63
@MFernflower I will upload a separate graph on t1/2 soon.
Looking at half-life data preliminary, I can tell that the top scoring compounds have t1/2 values usually not exceeding **5 min**

[2021-08-30 22:06] MFernflower commented on #63
@dmitrij176 There are online metabolic prediction tools - One is called xenosite and it's pretty good and free - maybe worth messing about with https://swami.wustl.edu/xenosite

[2021-09-01 02:37] MFernflower commented on #63
@dmitrij176 I ran dm7 past the tool and it flagged the pyridine motif as being prone to enzymatic oxidation:

![image](https://user-images.githubusercontent.com/3164942/131602489-3b86366b-c8d7-4ebc-b368-2eb6b66522d1.png)
![image](https://user-images.githubusercontent.com/3164942/131602723-da5556a9-6ce1-4010-aa5a-6a686bfb0bfb.png)

[2021-09-27 05:34] fantasy121 opened #64 "Open Source Mycetoma (MycetOS) Meeting 27th Sep 2021"
### **Open Source Mycetoma (MycetOS) Meeting**

Meeting Zoom link [here](https://uni-sydney.zoom.us/j/99281549497)

**Time:**

**Chair:** Erasmus

**Minute taker:** UCL

_Recording_ can be found here

_Minutes_ can found here

**Link to previous meeting**
____________________________________________
### AGENDA

### 1. Outstanding items from previous meeting

### 2. Discussion points for this meeti

[2021-09-27 05:41] fantasy121 commented on #64
@OpenSourceMycetoma/corecontrib I hope everyone had a lovely weekend. Just a friendly reminder of our meeting tomorrow.

[2021-09-27 05:44] fantasy121 commented on #52
Updated roster for the remainder of 2021

Month | Host | Minutes
-- | -- | --
September | Eramsus | UCL
October | UCL | USYD
November | USYD | Erasmus

[2021-09-27 08:03] MFernflower commented on #64
I do not think I will be able to attend this meeting

[2021-09-27 08:45] wwjvdsande commented on #64
We will be there. We will be demonstrating the first in vivo results next to the in vitro results. We are still running the experiments but we do have preliminary data.

[2021-09-28 12:14] fantasy121 commented on #55
Follow-up from previous comment here, @mattodd @dmitrij176 I want to meet with you to discuss the SAR result and and find a direction to make the SAR concise and paper-ready. Will you be free sometime this week or next, maybe for about up to 1 hour? Let me know.

Alice and Peter and also in the process of reviewing this SAR for feedback as well.

[2021-09-28 15:58] dmitrij176 commented on #55
Sure Hung. I am available any time and think it would be useful for us to discuss this. @mattodd would you please let us know which day/time is more suitable to your schedule.

[2021-09-28 20:16] mattodd commented on #55
Wed Oct 6th at 10 a.m. London would work - I think that's 8pm your time @fantasy121 ? They key is in the prep work - in this case folding in the new data to the existing diagrams, then grouping relevant structures and colour coding them by activity (for example).

[2021-09-30 05:06] fantasy121 commented on #55
@mattodd @dmitrij176 Ok sounds good. I have sent a calendar invite for 8PM Sydney time (10 am London) for the 6th October. We will use the same Zoom link as our monthly meeting (https://uni-sydney.zoom.us/j/99281549497) and record this session for everyone's convenience.

If the calendar invite times messes up, just turn up at the agreed time and I think we should be okay. I can't send the invite

[2021-09-30 11:18] wwjvdsande commented on #64
Hi  @bendndi we determined in vitro and in vivo activity of a new set of MYOS compounds. Now that the results are in I wanted to analyse if the LogD correlation still holds. Can you calculate the LogD of the remaining compounds in the spreadsheet?

For these compounds the LogD is still missing, as well as the rotation bonds, LogP and flexibility. I think you added that last time when you added the

[2021-09-30 11:41] wwjvdsande commented on #64
Thanks @bendndi I have uploaded them in the spreadsheet

[2021-09-30 14:01] wwjvdsande commented on #51
@mattodd @fantasy121 @dmitrij176 @MA-Jjingyi @Wilson-Lm Now that the logD values are known I updated the analyses we did on the in vitro and in vivo relationships. Due to the fact that MYOS-00166-00-01 has a LogD of 3.041 it changes our results. Overall you see a trend towards a higher efficacy with a lower logD. However if I split them at 2.5 with Mann-whitney the result becomes negative. May be

[2021-09-30 14:03] mattodd commented on #64
Was the date and time for the next meeting set? Oct 26th? Time? I'd like to invite @AndyBishopSevenoaks (and of course anyone else who would like to come)

[2021-09-30 14:08] wwjvdsande commented on #64
@mattodd I think it is still on the same time. Daylight saving ends on 31 october this year. At least in the EU.

[2021-09-30 14:10] wwjvdsande commented on #64
Not sure if that is the same in other countries though @fantasy121 @kym834

[2021-10-05 00:46] fantasy121 commented on #51
@wwjvdsande Thanks Wendy. I will see if we can incorporate this new finding into the SAR when we have the SAR meeting this week.

[2021-10-05 00:49] fantasy121 commented on #55
@mattodd Re: structures for SAR, please use the chemdraw files on Dropbox (link below). I put the compound structures for each of the motifs into separate chemdraw files. The word doc/excel sheet file still contains the main info/analysis.

https://www.dropbox.com/home/Hung%20and%20Alice/Mycetoma/SAR

[2021-10-06 10:23] dmitrij176 commented on #55
Thanks @fantasy121

[2021-10-18 01:42] fantasy121 commented on #51
What do you think of this new layout? @mattodd @dmitrij176

Numbering of compounds should be updated later when we are certain of compounds ordering (in the draft for the paper) so I'm leaving this numbering as is (with MYOS codes) for now.

I noticed that IC50/IC90 and MIC50/MIC90 are missing for the latest batch of tested compounds. I updated my tables to include IC50 and MIC50, as they help fur

[2021-10-23 15:20] dmitrij176 opened #65 "Open Source Mycetoma (MycetOS) Meeting 26th Oct 2021"
### **Open Source Mycetoma (MycetOS) Meeting**

Meeting Zoom link: https://uni-sydney.zoom.us/j/99281549497

**Time**: UTC 11:00 - London Noon - Amsterdam 1 PM - Sydney 10 PM - New York 7 AM

**Chair**: UCL

**Minute taker**: USYD

Recording can be found [here](https://youtu.be/-BakGS_y6qQ)

Minutes can found here:
[Minutes for Oct 26 Meeting.docx](https://github.com/OpenSourceMycetoma/Series-1-Fe

[2021-11-01 01:28] fantasy121 commented on #65
ACTION ITEM 3:
Following our meeting conversation, and discussion Re: SAR summary #51 , I looked through the epichem library again and found some interesting existing compounds that can potentially fill in the current SAR gap, most notably a lack of _meta-_ substitution on the Rings. I double checked that these ones have not been previously biologically evaluated (not tested in [Master List](https

[2021-11-01 01:39] fantasy121 commented on #51
I updated the visual summary of SAR Motif A, to have in vitro and in vivo in separate maps. Here's a side-by-side comparison between these two maps, with the new colour-coding patterns.
![SAR Summary Motif A](https://user-images.githubusercontent.com/36176821/139609916-009f6b28-bea7-4ad5-972e-2330d28f392d.png)

[2021-11-01 07:48] wwjvdsande commented on #65
@fantasy121 I'm surely willing to test these in vitro. We can do this in the winter.

[2021-11-01 23:03] dmitrij176 commented on #65
@fantasy121 would these have to be synthesised or they are available from Epichem (upon request)?

[2021-11-04 12:57] Wilson-Lm commented on #65
#55 This is the issue for the manuscript draft.

[2021-11-08 02:54] fantasy121 commented on #51
Update of the draft visual summary for Motifs B, C and D, with the new harmonised colour codes. (in vivo coming soon)

![SAR Summary Motif B v2 copy](https://user-images.githubusercontent.com/36176821/140676946-a68b6f7b-a0d4-4953-bab7-a31aed376c58.png)

[2021-11-08 12:59] dmitrij176 commented on #51
@fantasy121 can you please clarify why does your latest screen includes Motif C when UCL was assigned to cover that part ???

[2021-11-10 21:05] dmitrij176 commented on #51
![Motif C png](https://user-images.githubusercontent.com/44785501/141192143-bddcc21e-4ad6-43d4-8f27-c77d4ba8eebc.png)

Motif C _in vitro_ analysis. Based on the updated potency guidelines, most compounds are tagged as inactive and there are no more amber analogues in this set. Out of 27 entries, only 3 appear to be potent.

[2021-11-11 10:01] mattodd commented on #51
I'm a little confused about what the different "motifs" are here - is there one diagram with them all shown and labelled, so we can compare side by side? We'll need this "legend" for the paper.

For each figure we're also going to need a way to refer to the compounds therein - so we're going to need MYOS codes under each structure. Not the full code (e.g. "MYOSXXXXAA") but just the Number ("AA").

[2021-11-16 14:42] wwjvdsande commented on #65
[mycetOS meeting26102021-MA.pptx](https://github.com/OpenSourceMycetoma/Series-1-Fenarimols/files/7547330/mycetOS.meeting26102021-MA.pptx)

[2021-11-19 10:44] wwjvdsande commented on #65
@fantasy121 @dmitrij176 @Wilson-Lm @MA-Jjingyi @mattodd I added the IC50 and IC90 values to the mastertable. I also added the last survival data. Unfortunately the season ended before we could test all compounds. The last experiments needed to be discarded because even the healthy control larvae died. We will start this up in spring again.

[2021-11-23 00:44] dmitrij176 commented on #51
![Motif C (final)](https://user-images.githubusercontent.com/44785501/142955575-0c394834-4c5a-42c9-bc66-e275572bdca1.png)

Motif C, updated version.
Legend: each compound number corresponds to the unique MYOS id.

[2021-11-23 05:35] fantasy121 opened #66 "Open Source Mycetoma (MycetOS) Meeting 23 NOV 2021"
### **Open Source Mycetoma (MycetOS) Meeting**

Meeting Zoom link [here](https://uni-sydney.zoom.us/j/99281549497)

**Time:** UTC 10:00 - London 11AM - Rotterdam Noon - Sydney 9 PM - New York 6 AM (Effective till February 2022 Meeting, Daylight saving changes in March meeting, requiring time revision)

**Chair:** USYD

**Minute taker:** Erasmus

_Recording_ can be found here

_Minutes_ can found h

[2021-11-23 07:16] mattodd commented on #66
Hi there - sorry but I'm an apology for today. @wwjvdsande might be able to update about the ISNTD session this Thursday. https://dndi.org/events/2021/isntd-connect-whats-in-the-pipeline-for-mycetoma/
It'd be very good if the discussion could briefly turn to a good target or two for @AndyBishopSevenoaks @kym834 ?

[2021-11-23 07:25] wwjvdsande commented on #66
@mattodd, sure I can update about the ISNTD session this thursday. Yesterday I had my tour through the platform. @fantasy121 I did do some analysis on the LogD and the survival in the larvae which I can show during the meeting.

[2021-11-23 12:27] wwjvdsande commented on #55
I uploaded the google dox document in word in the dropbox

[2021-11-23 23:23] kym834 commented on #66
## Minutes below (please add anything if I've missed it or got something wrong)

**Paper and SAR updates**

@dmitrij176 found a paper that looks at some of the SAR of fenarimols. Interesting points for us to consider
* 2,4-difluoro has previously found to be important for activity. We have found that similar to this compounds we have tested that are 2-chloro-4-fluoro have been better than others.

[2021-11-24 20:16] MFernflower commented on #66
@kym834 Sorry I could not attend - Is there a lab notebook link for the group making new S2 molecules?

[2021-11-25 00:19] kbea282 commented on #49
As discussed earlier this year, the students in a second year honours-track chemistry course at the University of Auckland spent some time exploring the series 1/2 data in DataWarrior from a modelling perspective (they have exactly no medicinal chemistry training at this point in there degrees).

As an educator, I learned a great deal about how to set this project up for next year so that it conne

[2021-11-25 08:20] PaulMcKeatingSevenoaks commented on #66
We are planning to share the webinar today with our students, as it's during their timetabled session for Breaking Good...

@mattodd @wwjvdsande @kym834 @andybishopsevenoaks

[2021-11-25 09:11] kym834 commented on #66
@PaulMcKeatingSevenoaks I've updated the top to include the link to the recording on YouTube

[2021-11-25 12:00] wwjvdsande commented on #66
Dear all, here is the link on the mycetoma session
https://www.isntd.org/isntd-connect

[2021-11-25 23:06] dmitrij176 commented on #51
Good evening @wwjvdsande. Prior to Christmas holidays, what would be the latest date for UCL to send our new batch of molecules for biological evaluation? As not in terms of season (since its _in vitro_ atm), but for someone at Erasmus to actually collect the delivery before the break? That would be useful to know for synthetic planning as well.

[2021-11-26 07:36] wwjvdsande commented on #51
@dmitrij176 if the arrival can be in the week before the christmas holiday it will be fine. Most of us will have two weeks off after christmas.

[2021-11-26 15:05] wwjvdsande commented on #55
@kym834 can you give @Wilson-Lm also access to the dropbox? I couldn't add him

[2021-11-26 15:09] dmitrij176 commented on #55
@wwjvdsande the online word editor in dropbox is not formatting schemes correctly again. I am going to add experimental on my computer and reupload the updated manuscript version on dropbox. Would that be ok?

[2021-11-26 15:43] wwjvdsande commented on #55
@dmitrij176 that would be ok. I just added new parts from Wilson in the manuscript. Could you copy that in the new version as well? Wilson did not have access to the dropbox so I had to upload his adjustments in the document as well.

[2021-11-26 15:49] dmitrij176 commented on #55
Yes, no problem.

[2021-11-26 20:48] kym834 commented on #55
@wwjvdsande - Bugger. I tried to set it up so that everyone could share it but it seems it is just that everyone can view it.. I've made you the owner of the folder now so you should be able to share it.

[2021-11-28 17:11] MFernflower commented on #66
@wwjvdsande Any recording of the session?

[2021-11-29 08:04] wwjvdsande commented on #55
@kym834 @Wilson-Lm I added Wilson now.

[2021-11-30 00:19] fantasy121 commented on #51
@dmitrij176 Could you start looking at match pairs for Motif B next? I will look through A and D for match pairs on my end. Thanks.

[2021-11-30 00:22] dmitrij176 commented on #51
Yes Hung. Lets catch up at some point in the future to discuss results.

[2021-12-11 02:11] MFernflower commented on #66
@dmitrij176 Would it be possible for you to post what antifungal-oximes you have made / plan to make?

[2021-12-11 22:45] dmitrij176 commented on #66
@MFernflower yes, I will create a new Github page on Ketoximes with the latest updates shortly.

[2021-12-12 04:58] MFernflower commented on #66
@dmitrij176 <https://github.com/dmitrij176> maybe could spin them off into
a sub series on GitHub like series 1B or something like that?

The oximes likely hit the same enzyme as the fenarimols do

[2021-12-14 03:57] MFernflower commented on #66
@wwjvdsande @dmitrij176 Quick Question - Has pyrifenox itself been tested vs madurella?

[2021-12-16 00:36] MFernflower commented on #66
@dmitrij176 I think this may be worth following to see if we can get the ketoxime compounds logp down:

![image](https://user-images.githubusercontent.com/3164942/146286541-0f4632ea-e129-4171-90c2-c6701193e262.png)

[2021-12-16 00:49] dmitrij176 commented on #66
@MFernflower  That compound has already been made.

[2021-12-16 00:55] dmitrij176 commented on #66
Pyrifenox has been tested in the last biological assay and gave very good results. If I remember correctly, the Minimum Inhibitory Concentration (MIC) was around 0.25 micromollar. Therefore, it will likely be used as a positive control in the future.

[2021-12-16 01:01] MFernflower commented on #66
@dmitrij176 the version with the two aryl-chlorine's was - I was proposing swapping the ortho one for hydrogen (i.e monodeschloro pyrifenox)

![1-(para-chlorophenyl)-N-methoxy-2-pyridin-3-ylethanimine](https://user-images.githubusercontent.com/3164942/146288730-6504ed59-4357-411f-9217-064c81630313.png)

[2021-12-16 01:11] dmitrij176 commented on #66
Yes, my bad. 2,4-dichloro on the aromatic ring within the ketoxime scaffold is currently the preferred version.  We already tested DM39-1 which showed a significant decrease in potency and did not pass further than the _in vitro_ phase. Again, if I recall it correctly, it was potent at 100 micromollar, but not at 25.

[2021-12-16 01:13] MFernflower commented on #66
Oh, so modification of the dichloroaryl core isn't on the cards at the moment? DM39-1 was however missing the methylene spacer found in pyrifenox

[2021-12-16 01:22] dmitrij176 commented on #66
@MFernflower what I think might be useful is to preserve 2 halogens on that aromatic ring. As an option: 2-chloro-4-fluoro.
But potentially multiple options are possible. Testing more analogs will give further insight into the ketoxime series. By now, 5 more molecules are ready for biological evaluation. That batch will investigate the 3 types of substrates:
-extended hydrocarbon chains (as in the

[2021-12-16 03:01] MFernflower commented on #66
![image](https://user-images.githubusercontent.com/3164942/146300362-7801ee1b-2a69-4329-99bb-0cddc33435b6.png)

@dmitrij176 perhaps something to consider

[2021-12-16 11:08] drc007 commented on #66
Are all these molecules a mixture of oxime ether isomers? I notice sometimes they are drawn with the oxime ether pointing towards the chlorophenyl ring, sometimes away?
![oximes](https://user-images.githubusercontent.com/7080516/146360710-e14cadac-8349-4a33-8235-3782ab789fc5.png)

[2021-12-16 15:56] dmitrij176 commented on #66
They are a mixture of geometric isomers (E/Z forms). I have corrected the schemes and in all protocols now include the following representation:

<img width="220" alt="image" src="https://user-images.githubusercontent.com/44785501/146403251-d5474daa-1730-4f39-b348-dd8e8e9f1028.png">

Based on what I saw in already synthesised molecules, its always a mixture of E/Z isomers, but with one form being

[2021-12-16 21:46] MFernflower commented on #66
@dmitrij176 I opened a repository should you want to put all the ketoxime stuff in there: https://github.com/OpenSourceMycetoma/Series-1B-Ketoximes

[2021-12-18 05:42] MFernflower commented on #66
Action item on @dmitrij176 to push information to the new Github repository for the ketoxime fungicides

[2022-01-14 02:04] fantasy121 commented on #51
![Matched Pairs Motif A copy](https://user-images.githubusercontent.com/36176821/149438861-3a0bd746-fdd2-4412-94c0-c6e28c026d9b.png)
![Matched Pairs Motif A Condensed Vertical](https://user-images.githubusercontent.com/36176821/149438868-8ceb488e-02c8-4c22-bd8f-49e32e2d4210.png)

[2022-01-14 02:07] fantasy121 commented on #51
Here's my matched pairs for Motif A. Full version (top) and condensed version (bottom). I'm putting together the [SAR writing ](https://docs.google.com/document/d/13iRAEGrZfuupZUADGE5y_iJuicfP5jI0eFRFbVPGOLc/edit)at the moment as well. How are you going with the Matched pairs for B? @dmitrij176 If you want a quick catch-up, let's meet sometime before January meeting?

[2022-01-15 12:54] dmitrij176 commented on #51
@fantasy121 its almost ready (just need to colour code the structures based on their respective potency). I will upload the scheme on Sunday the latest. Meeting would be useful. What time would suit you?

[2022-01-18 13:30] dmitrij176 commented on #51
I have a question regarding potency and colour coding: There are a number of compounds in this set which were quite potent at the _in vitro_ stage, but dont have any MIC values. The agreed criteria for amber code is (cited): growth at 25 uM <20% but IC50 and MIC50 >8.0 (mainly dependent on MIC50). In total, 9 compounds do not have MIC values in the Mycetoma database, so its hard to judge by that d

[2022-01-18 15:37] dmitrij176 commented on #51
Yes. I just rechecked it earlier today before publishing the scheme.

[2022-01-18 15:42] dmitrij176 commented on #51
To be more specific, its the following entries:
MYOS57, MYOS67, MYOS71, MYOS72, MYOS73, MYOS74, MYOS95, MYOS109, MYOS143

[2022-01-18 15:55] wwjvdsande commented on #51
MYOS57, MYOS67, MYOS71, MYOS72, MYOS73, MYOS74, MYOS109 and MYOS143 were only inhibited at 100uM not at 25uM and would therefore not be selected for further testing. After activity at 25uM we will do IC50 and then MIC50. For IC50 and MIC, the highest concentration we test is 16uM. If the compound would not inhibit the fungus at 25uM it is not expected that it would inhibit at a lower concentration

[2022-01-20 02:10] MFernflower commented on #66
@dmitrij176 I had thought up this compound - the SM is super cheap so maybe worth a shot?

![image](https://user-images.githubusercontent.com/3164942/150254305-b81a1e14-3527-4ba4-b536-06ce48e91f69.png)

[2022-01-20 14:57] dmitrij176 commented on #51
![Motif B final (corrected)](https://user-images.githubusercontent.com/44785501/150363150-3b826360-9a69-477f-a99c-cac3d3af4653.png)
Motif B (corrected version)

[2022-01-25 14:36] mattodd opened #67 "Open Source Mycetoma Meeting 25 Jan 2022"
_This post is draft until this text removed. @wwjvdsande if we accidentally create posts at the same time then we can merge!_

### **Open Source Mycetoma (MycetOS) Meeting**

Recurring Meeting Zoom link: https://uni-sydney.zoom.us/j/99281549497

**Time:** New York 7 AM - UTC 12 noon - London 12 noon - Rotterdam 1 PM - Sydney 11 PM - (2022 schedule discussed below)

**Chair:** Erasmus

**Minute tak

[2022-01-25 22:21] mattodd commented on #51
Hi @dmitrij176 just to clarify - the colour codes are the same as for @fantasy121 's? If so, can each diagram carry the legend, so that the diagrams stand alone and complete? And some compounds have two ID codes, e.g. 43/44 and 1/146 ? @fantasy121 in the January meeting (#67) you presented the picture of what the different motifs are - could you share that here, too?
It'll be useful to see if some

[2022-01-27 01:10] fantasy121 commented on #67
@wwjvdsande To confirm.

I am missing IC/MIC values for MYOS 00170, 00171, 00175 and in vivo for MYOS 00174.

- MYOS 00170 is not tested for IC/MIC because @25 uM activity is 38%. So this one is cleared.
- MYOS 00174 has excellent in vitro all the way to MIC50. However, the larval season has ended before in vivo can be tested on this compound. I want to double check I have the facts correct so I c

[2022-01-27 01:27] fantasy121 commented on #51
@dmitrij176 So anything that is less than or equal to 20% at 25 uM but not tested for MIC50 will automatically get amber (as Wendy suggested the MIC50 will be >16 by default). (In the excel sheet, you will be the values for 25 uM to be green for these compounds. NB: Excel colours do not corresponds to current legends)

Anything that is greater than 20% at 25 uM and not tested for MIC50 will be giv

[2022-01-27 01:30] fantasy121 commented on #51
@dmitrij176 Can you also share the raw Chemdraw files for Matched pairing of Motif B and C with me pls? I can make them consistent with the other schemes for the paper if we need to talk about them.

[2022-01-27 01:32] fantasy121 commented on #51
https://www.dropbox.com/sh/1uyd2rjpgsqty14/AACZ6EUcqF2equgGtd9SdmjZa?dl=0

Excel sheet has been updated with latest in vitro/in vivo results (v2.1 is current, v2 is outdated and now moved to superseded folder)

[2022-01-27 01:33] fantasy121 commented on #51
![SAR Motif A v1 1 Vertial](https://user-images.githubusercontent.com/36176821/151275375-f7477ff4-7340-484b-ad71-6412e0abacc7.png)

[2022-01-27 01:35] fantasy121 commented on #51
![Matched Pairs Motif A v1 2 Condensed Vertical](https://user-images.githubusercontent.com/36176821/151275613-4979474b-b690-4675-b2ed-96d46236bbd7.png)
Matched Pairs for G1 Scaffold (Motif A in draft)

[2022-01-27 01:38] fantasy121 commented on #51
![SAR Summary Motif B v2 2 vertical](https://user-images.githubusercontent.com/36176821/151275880-2890d98a-ac65-44fb-8e16-a0dca7ce896c.png)
G2 scaffold (corresponds to Motifs B, C and D in drafts)

[2022-01-27 02:19] fantasy121 opened #68 "Crystal structures of azole-bound CYP51 enzymes from various organisms (mammals, bacteria, fungi and protozoan)"
I found these crystal structures from the [Protein Data Bank](https://www.rcsb.org). These provide more evidence that Fenarimol analogues inhibits CYP51 of mycetoma in a similar fashion to the azoles.

What's needed for activity (in vitro):
– A heterocyclic aromatic ring containing an atom that can coordinates to the haeme-iron residing in the CYP51 active pocket. One paper mentions that basicity

[2022-01-27 02:21] fantasy121 commented on #68
Passage referring to the basicity of pyridine compared to other Heterocycles (T. cruzi paper):
"Although the apparent Kds determined by spectral titration are useful for primary identification of new binding ligands, they do not always correlate with inhibition of 14DM activity (12). Thus, we found that several imidazole derivatives that reveal nanomolar Kds were easily replaced in the enzyme reac

[2022-01-27 02:39] fantasy121 commented on #68
@OpenSourceMycetoma/corecontrib

[2022-01-27 04:17] MFernflower commented on #68
@fantasy121  There is also the PDB file of an azole bound to Naegleria fowleri CYP51 - despite the MIC's from @MOUSEY007 not being so good it's probably worth looking at and comparing to the yeast and trypanosome enzymes

https://www.rcsb.org/structure/5tl8

[2022-01-27 23:56] MFernflower commented on #67
@mattodd I may be missing something but CYP51F is a core eukaryotic enzyme
so complete knockout of both copies of the gene will cause the cells to
stop working

Maybe knocking out one copy of the gene is possible?

[2022-01-28 04:37] MFernflower commented on #67
@mattodd @wwjvdsande @kym834  With regard to the benzimidazole type tubulin inhibitors

There are two commercial compounds we have not tested vs eumycetoma:

![benzi](https://user-images.githubusercontent.com/3164942/151488013-2512ff9c-08b7-40f2-bb07-81cbeae2b064.png)

[2022-01-28 05:36] MFernflower commented on #67
@dmitrij176 Just sort of randomly came up with this idea - should be a single step from the chlorinated precursor and Dimethylethanolamine

![image](https://user-images.githubusercontent.com/3164942/151493017-e7204ad2-93d3-49fc-a435-70c9902279dc.png)

[2022-01-28 10:43] mattodd commented on #67
Predictions of Madurella protein structures (all of them, I think?)
https://alphafold.ebi.ac.uk/search/organismScientificName/Madurella%20mycetomatis

[2022-01-28 10:47] wwjvdsande commented on #67
The two CYP51 variants of Madurella mycetomatis
![image](https://user-images.githubusercontent.com/36398138/151533846-c96bdacb-079f-4c0b-98f1-74aa937027ce.png)

[2022-01-28 11:01] wwjvdsande commented on #67
@mattodd there was nothing bound. The ball and stick is just the heme group. Similar to the improved Aspergillus fumigatus CYP51A model, the  M. mycetomatis CYP51A structure is predicted to be accessible from the left cleft beside the heme structure.

[2022-01-28 13:18] dmitrij176 commented on #51
The matched pair files have been uploaded to the Mycetoma Dropbox directory.
https://www.dropbox.com/home/Open%20Source%20Mycetoma

The colour coding was correct in the previous version (see above).

@mattodd coding duplicates have been removed. The original file of each motif was created before I did MYOS coding assignment. Any experimental repeats now have the same MYOS number, I have double che

[2022-01-28 13:21] dmitrij176 commented on #51
**Motif B**

![Motif B final (corrected)](https://user-images.githubusercontent.com/44785501/151553692-617a9253-4f2e-43cd-baa9-ec927ccf6c9f.png)

[2022-01-28 13:22] dmitrij176 commented on #51
**Motif C**

![Motif C corrected png](https://user-images.githubusercontent.com/44785501/151553720-d105a403-fb4b-4ae6-9068-395f22201fcf.png)

[2022-01-28 14:34] MA-Jjingyi commented on #67
@fantasy121 Hi, Hung, sorry to reply a little late.
we already have known that MYOS170,171,175 didn't work below 25uM. and the final tests will be finished next week.
as for MYOS174, it was tested in vivo test just one time in last larvae season. and it looks weird, because all larvae died in the 3rd day. it will be the priority in the upcoming larvae season.
i will update the data about IC50s and

[2022-02-07 03:48] fantasy121 commented on #67
Sorry for the late reply, I was sick for a few days. My understanding is that the nitrogen atom on the aromatic ring of the Azole  co-ordinates to the iron of the haeme, this is the main interaction.  The H-donor/acceptor (like a hydroxy group) and the disubstituted phenyl group interacts with nearby residues (usually Tyrosines, the positions of these vary slightly between CYP51 of different speci

[2022-02-07 13:47] mattodd opened #69 "Compounds from a New Contributor"
Hi all - @bebi78 has joined the project and is offering to ship two molecules to you, @wwjvdsande, for in vitro evaluation if that is OK? The fenarimol-like structures are as follows:

![Lawsone mycetoma suggestions](https://user-images.githubusercontent.com/4386101/152799691-af802b81-720a-46a8-bf74-d5c77b0b91c2.jpeg)

O=C1C(O)=C(C(C2=CC=CN=C2)N3CCN(C(OCC)=O)CC3)C(C4=CC=CC=C41)=O
O=C1C(O)=C(C(C2=C

[2022-02-07 13:54] wwjvdsande commented on #69
@mattodd @bebi78 of course we would be willing to screen these. We usually start with a 10 mM starting solution in DMSO to be able to screen a 100 uM concentration in M. mycetomatis. So either 50 ul of this concentration in DMSO or a solid compound of 2-3 mg would be OK.

It can be shipped to:

Department of Medical Microbiology and Infectious Diseases
ErasmusMC
Medical Microbiology and Infectious

[2022-02-07 14:31] wwjvdsande commented on #69
@mattodd @bebi78 of course I would be willing to collaborate on other compounds too. @MA-Jjingyi is our PhD student who currently tests the compounds and she would certainly be able to screen other compound series too. What compound series would you suggest? You might even make it a separate item on the MycetOS github.

[2022-02-07 14:40] mattodd commented on #69
Hi @bebi78 yes [here](https://github.com/OpenSourceMycetoma/What-other-molecules-to-screen/issues) is a good place to ruminate on possible new compounds, and when we start more seriously on a particular motif (e.g. if there start to be physical compounds in that series) then we can start a new repository.

[2022-02-07 15:30] MFernflower commented on #69
Those are interesting compounds but aren't quinones normally ADMET issues
@drc007

[2022-02-07 15:41] bebi78 commented on #69
@MFernflower Good point. Maybe the approved antiparasitic atovaquone might be a reference drug to judge this.

[2022-02-07 15:57] bebi78 commented on #69
@dmitrij176 Thanks a lot!
I hope I can get good news from Enamine about the requested dimethylaminoethyl hydroxylamine precursor soon.

[2022-02-07 16:00] dmitrij176 commented on #69
Thanks @bebi78 . I will make further updates on Series 6 ketoximes shortly.

[2022-02-07 16:01] MFernflower commented on #69
@bebi78 I had forgotten we did screen a few natural products:
https://pubmed.ncbi.nlm.nih.gov/34106933/

As for atovaquone and friends (Lawsone and whatnot)
I'm not certain what the results were but

However I think it's worth screening those atovaquone-fenarimol hybrids and
I think everyone else agrees

On Mon, Feb 7, 2022, 10:50 AM dmitrij176 ***@***.***> wrote:

[2022-02-07 16:10] bebi78 commented on #69
@MFernflower @mattodd @wwjvdsande @dmitrij176 Yes, I like that paper. The major components of CIN-102 are cinnamyls. I worked on synthetic cinnamyl derivatives recently. Maybe some chemical modifications of cinnamyls can be done to enhance the activity.

[2022-02-07 16:33] MFernflower commented on #69
@wwjvdsande  has a natural product library ever been screened vs the
fungus? I know the cinnamon type compounds were recently

[2022-02-07 22:26] MFernflower commented on #69
"I worked on synthetic cinnamyl derivatives recently." - @bebi78 Do you still have stock left of them? Maybe could ship to @wwjvdsande to see if they might be synergistic with azoles and whatnot

[2022-02-08 08:08] wwjvdsande commented on #69
@bebi78 @MFernflower one of the Sudanese PhD students I collaborate with has made a small library from extracts of endemic plants and screened that but it was only a small library with not more than 30 products.
In the past we screened artemisinin, tea tree oil and the synthetic CIN product for septeos. The latter was also screened in the larvae and showed some activity, especially when we tested

[2022-02-08 15:58] bebi78 commented on #69
@MFernflower @mattodd @wwjvdsande Yes, I still have them in stock (see attached file). Some of them are conjugates combining the cinnamoyl moiety with other bioactive compounds such as curcuminoids or plumbagin. Of course, they can be also studied in combination with other known antifungal drugs with different modes of action.
I would suggest to send you the cinnamoyls listed in the pdf file and t

[2022-02-08 16:25] mattodd commented on #69
Very good! If you'd like to ship, and @wwjvdsande is happy to test, then please just list the SMILES for each so that we can enter them into the Master List to aid tracking/reporting via the generation of MyOS codes.

[2022-02-09 02:05] MFernflower commented on #69
@bebi78 @mattodd @wwjvdsande That 20 compound library is a good start since natural product libraries themselves are often quite pricey:

![image](https://user-images.githubusercontent.com/3164942/153107992-43881b72-563c-4064-aab2-024ddf08cab6.png)

[2022-02-09 02:08] MFernflower commented on #69
@bebi78 can you post a file with all the structures of your semisynthetic compounds?

[2022-02-09 15:34] bebi78 commented on #69
In addition, I found some time today to search for some more natural compounds in our storage (in addition to those mentioned above.
We have the following natural products here:
Genistein
Emodin
Usnic acid
Gibberelinic acid
Cholic acid and Deoxycholic acid
Combretastatin A4
Illudin M
Several terpenes and steroids
Quinine and other Cinchona alkaloids

Further antibiotic:
Trimethoprim

[2022-02-09 17:33] bebi78 commented on #69
Sorry, I meant gibberellic acid.

[2022-02-09 18:40] MFernflower commented on #69
@bebi78

I guess it's just a matter of sending 4 milligrams of whatever compounds
you have in stock

@wwjvdsande <https://github.com/wwjvdsande> seems pretty open to screen
them  now that she and her students have a medium throughput assay

On Wed, Feb 9, 2022, 12:34 PM bebi78 ***@***.***> wrote:

[2022-02-10 19:09] bebi78 commented on #69
@mattodd @MFernflower @wwjvdsande OK. The package for Wendy will leave our institute tomorrow by UPS. The content is mentioned in the attached files. I will provide the SMILES codes for the compounds on Monday. If you have any questions let me know.
[mycetoma.list..docx](https://github.com/OpenSourceMycetoma/Series-1-Fenarimols/files/8043626/mycetoma.list.docx)
[bebi78.MycetOS.022022.docx](https:/

[2022-02-10 20:30] mattodd commented on #69
That's fantastic, @bebi78 - lots of samples! When you've a moment, a sheet with your own codes and the SMILES would be very useful. Molecular formulae and weights would also help. We're going to need to assign a bunch of MyOS codes to these, so please do be clear if any are salts.

[2022-02-11 07:07] wwjvdsande commented on #69
@bebi78 @mattodd @MFernflower @wwjvdsande @MA-Jjingyi That is great @bebi78. We will be on the look-out for these compounds. We will screen them first with 100 uM and 25 uM for activity and take it further from there.

[2022-02-11 17:12] MFernflower commented on #69
@bebi78 if you want something you can use at home you could look into
marvinsketch

On Fri, Feb 11, 2022, 5:44 AM bebi78 ***@***.***> wrote:

[2022-02-14 08:28] mattodd commented on #67
@kym834 Hello, sorry to hassle, but are you happy to send out the Outlook invites for the next meeting? I almost double booked myself just now - I think we're due to meet 10pm EU time on Feb 22nd?

[2022-02-14 12:17] bebi78 commented on #69
@wwjvdsande @MFernflower @mattodd @MA-Jjingyi I've seen the package was delivered. Here is the compound list with the SMILES codes for each compound:

Anis-Zimt-Pip: 11 mg
O=C(N1CCCCC1=O)/C=C/C2=CC=C(OC)C=C2

Anis-Zimt-Pyr: 10 mg
O=C(N1CCCC1=O)/C=C/C2=CC=C(OC)C=C2

TMP-Zimt-Pip: 8 mg
O=C(N1CCCCC1=O)/C=C/C2=CC(OC)=C(OC)C(OC)=C2

TMP-Zimt-Pyr: 5 mg
O=C(N1CCCC1=O)/C=C/C2=CC(OC)=C(OC)C(OC)=C2

Cl-Zimt

[2022-02-14 18:28] bebi78 commented on #69
@mattodd Sorry, seems that some longer SMILES codes were truncated during the pasting. Here is the word file with the complete SMILE for every compound.
[mycetoma.list.MycetOS.docx](https://github.com/OpenSourceMycetoma/Series-1-Fenarimols/files/8063106/mycetoma.list.MycetOS.docx)

[2022-02-14 19:10] flavioemery commented on #69
Hi colleagues, I have some quinones to share with you all. I have some more, but are quite related to those!

![Slide1](https://user-images.githubusercontent.com/80112736/153929899-5846a689-341b-4ccc-85f1-71f7abff80a3.jpeg)

[2022-02-14 22:19] kym834 commented on #67
@mattodd. All done.
@OpenSourceMycetoma/corecontrib please forward the two outlook invitations on. I've not get everyones email address

[2022-02-14 22:32] kym834 commented on #67
Also @mattodd, we already made a sign up form for the newsletter - #42

I don't remember what email address I used to create it though as it is not within the Drive of any of those that I use regularly. Do we have a gmail account for MycetOS that maybe I used?

[2022-02-14 22:37] mattodd commented on #67
Hi @kym834 @fantasy121 should have the sign-in deets for the MycetOS gmail address. If not, I can dig them out somewhere. Yes, it would be useful to manage all interested contacts using that.

[2022-02-14 22:47] kym834 opened #70 "Open Source Mycetoma Meeting 22 Feb 2022"
Our next meeting is on Feb 22 and we'll be meeting at

**Times:** Amsterdam - 10 PM, London - 9 PM, USA (New York) - 4 PM, Sydney - 8 AM (23rd of Feb)

**Zoom link:** https://uni-sydney.zoom.us/j/99281549497

**Chair:**

**Minute taker:**

Recording of this meeting to go [here]

Previous meeting are here (#67)

## Agenda

**1. Update on SAR analysis and paper writing**

**2. Science updates from e

[2022-02-14 22:55] dmitrij176 commented on #69
Good evening. I am happy to help with this. @flavioemery can you please upload the SMILES codes.
@bebi78 list has been published, so I will add these compounds too.

[2022-02-15 07:08] wwjvdsande commented on #69
@flavioemery @mattodd @MA-Jjingyi yes we will screen those too.

[2022-02-17 08:15] MA-Jjingyi commented on #69
@bebi78 @mattodd @wwjvdsande We have received the 51 compounds.  Screening plans will be done. thanks.

[2022-02-17 17:01] flavioemery commented on #69
@dmitrij176 Here it is:

O=C1C=C(NC2=CC=CC=C2)C(C3=C1NC(C)(C)NC3=O)=O

O=C4C(O)=C(NC5=CC=C(OC)C=C5)C(C6=C4C=CC=C6)=O

O=C7C(O)=C(NC8=CC(OCCO9)=C9C=C8)C(C%10=C7C=CC=C%10)=O

O=C%11C(Cl)=C(NC%12=CC=CC=C%12Cl)C(C%13=C%11C=CC=C%13)=O

O=C%14C(OS(C(F)(F)F)(=O)=O)=C(NC%15=CC=CC=C%15)C(C%16=C%14C=CC=C%16)=O

O=C%17C(O)=C(C/C=C(C)/C)C(C%18=C%17C=CC=C%18)=O

O=C%19C(O)=C(/C=C/C(C)C)C(C%20=C%19C=CC=C%20)=O

[2022-02-21 18:29] bebi78 commented on #69
@mattodd @MFernflower @wwjvdsande I searched our department for more possible or proven antifungal compounds (natural and synthetic ones) last week and I attached a word file with the compounds I found interesting. Maybe you can have a look and tell me if there is interest in any of them.
In addition, I contacted my colleague Dr. Marc Stadler, mycologist of the HZI in Braunschweig, if he has antif

[2022-02-21 19:41] MFernflower commented on #69
@bebi78 the list of compounds is pretty interesting lots of essential oil
type components and various alkaloids

Do you have chlorpromazine or trifluoperazine to spare Im curious about
there antifungal effects and I think Wendy will be willing to screen
anything to try and find new leads against this infection

Would be cool if  maybe some native plant to the areas where mycetoma is
rampant kills

[2022-02-21 22:14] MFernflower commented on #70
Hopefully @bebi78  will be able to attend

[2022-02-22 12:32] bebi78 commented on #69
@MFernflower @wwjvdsande @mattodd Sorry, I could not find chlorprimazine and trifluoperazine in our database. But chlorprimazine is not expensive and available from common providers. Instead, I have thionine chloride and methylene blue as thiazine derivatives in stock, if these compounds are of interest.

My colleagues of the Qassim University are investigating Arabian medicinal plants for the tre

[2022-02-22 17:05] dmitrij176 opened #71 "Biological evaluation 2022"

[2022-02-22 18:35] dmitrij176 commented on #71
![Assay 2022 (Feb) copy](https://user-images.githubusercontent.com/44785501/155196040-5e716748-6179-400a-a736-32b7b9eb9ae3.png)

Hello @wwjvdsande. The third batch of UCL compounds has been sent to Rotterdam. The set consists of 17 compounds:
3 Fenarimols from IMSA
14 structures from UCL (9 Fenarimols and 5 Ketoximes (E/Z mixtures)).
I will send a separate sheet with MYOS codes and masses via emai

[2022-02-22 18:37] dmitrij176 commented on #71
PS: the parcel is likely to be dispatched by DHL to the Netherlands tomorrow.

[2022-02-22 21:02] kym834 commented on #70
Schedule for hosts and minute takes updated for 2022, see #52.

This meeting
Host: UCL
Minutes: USyd

[2022-02-22 21:16] flavioemery commented on #70
Guys, I couldn't make it today! But I am organizing the compounds data and ask details for shipping soon!

[2022-02-22 22:20] kym834 commented on #70
**Minutes**

Please see above for additional/continuing action items.

**1. Mechanism of Action of Fenarimols**
- [ ] @mattodd and @wwjvdsande (and others) investigate possible funding sources for kinase inhibitor library. About £2000-£3000.

SSGCID are open to getting a crystal structure of the protein with small molecule (itraconazole, raficonazole and 2 or 3 fenarimols) bound. Going to ask if t

[2022-02-23 10:43] MA-Jjingyi commented on #70
@dmitrij176 Hi, I just want to check the new mycetoma master list of the new compounds, but I really have no clue to do that. would you like to give me some clue about that. thanks.

[2022-02-23 13:25] dmitrij176 commented on #70
Hi @MA-Jjingyi . Sure. The list attched contains @bebi78 compounds. These are already in the Master List online. Plese bear in mind that several structures in the excel sheet (online) are highlghted in red. I need to change their formulation status to salts and phosphates. Flavios set will be added shortly. I will upload another PDF and let you know in Github.
[New compounds (MycetOS).pdf](https:/

[2022-02-23 13:26] dmitrij176 commented on #70
https://docs.google.com/spreadsheets/d/1YhK-3i2KwuVabo1GbZSgVjAUbavEICCMKi5v-EhNq80/edit#gid=954203120

Repository adress

[2022-02-24 05:21] fantasy121 opened #72 "Abstract Submission for RACI 2022 conference Sydney"
@OpenSourceMycetoma/corecontrib

Hi everyone, I'm planning to submit an abstract for the [RACI 2022 Conference](https://www.raci2022.com/abstract-submission/) to share the SAR work for the Series compounds and biological evaluation (either as presentation or poster).

Just letting everyone know. A draft of the abstract can be seen [here](https://www.dropbox.com/s/pwzufbg15i0sef4/RACI2022_DUONGv1.d

[2022-02-25 14:54] wwjvdsande commented on #70
Good news! Imad Abugessaisa from RIKEN will help us with the transcriptomics.

[2022-02-25 15:00] MA-Jjingyi commented on #70
Hi @dmitrij176 , would you like to add the Molecular Weight of the compounds to the spreedsheet? we need that to dissolve to reach the final concentration. of course, this is the base of our further tests.

[2022-02-25 15:02] wwjvdsande commented on #70
@dmitrij176 the compounds arrived

[2022-02-25 15:53] dmitrij176 commented on #70
Hi @MA-Jjingyi. The MW's were only provided for certain comounds  in the original document. I will generate the misssing ones from SMILES and upodate the Master List shortly.

[2022-02-25 17:51] dmitrij176 commented on #71
[Bio assay 2022.docx](https://github.com/OpenSourceMycetoma/Series-1-Fenarimols/files/8143175/Bio.assay.2022.docx)

@wwjvdsande @MA-Jjingyi please find attached speadsheet with compound information from the latest batch.

[2022-02-25 18:55] MA-Jjingyi commented on #69
Hi, @dmitrij176 .would you like to help we find the MW information of those 51 compounds too? thanks.

[2022-02-28 12:07] dmitrij176 commented on #69
@flavioemery could you please reupload the SMILES code for the following compound:
O=C%37C(O)=C(N%38CCN(C%39=CC=C([N+](https://github.com/OpenSourceMycetoma/Series-1-Fenarimols/issues/%5BO-%5D)=O)C=C%39)CC%38)C(C%40=C%37C=CC=C%40)=O
It appears that you inserted a hyperlink and the code is not recognised by ChemDraw. I removed it manually, but want to make sure its the right structure.
I think it s

[2022-02-28 13:33] MA-Jjingyi commented on #67
Hi, @fantasy121 Hung. the IC50, IC90 and MIC50 data about 00171 and 00175 are updated. please check.

[2022-02-28 13:44] bebi78 commented on #69
@MFernflower @mattodd @wwjvdsande @MA-Jjingyi My cooperation partner, Dr. Waleed S. Koko of the Qassim University in KSA, informed me that his former colleagues in Khartoum may have suitable medicinal plant extracts for free and begs you and Dr. Fahal to contact him and his colleagues. Can be that one or two of the the suggested extracts were already dealt with in Wendy's paper from 2015. So a dis

[2022-02-28 13:54] wwjvdsande commented on #69
@bebi78 @MFernflower @mattodd @MA-Jjingyi Shereen Omer and prof Sami Khalid are currently testing Sudanese medicinal plants for activity against mycetoma causative agents. It will run it by them as well as it will be indeed a shame if we are running the exact same extracts as they are.

[2022-02-28 14:38] bebi78 commented on #69
@wwjvdsande OK, thanks. I wrote Dr. Koko to contact Prof. Khalid in Khartoum.

[2022-03-02 16:31] flavioemery commented on #69
@dmitrij176 that's the correct SMILES code:
O=C1C(O)=C(N2CCN(C3=CC=C([N+]([O-])=O)C=C3)CC2)C(C4=CC=CC=C41)=O

You are correct, it is the nitro (not the nitroso).

I am preparing the samples for you guys. What's the shipping address?

[2022-03-02 17:07] MFernflower commented on #69
@flavioemery
![image](https://user-images.githubusercontent.com/3164942/156411605-206b70b6-e70a-4d03-b5cb-e38458637a7b.png)

[2022-03-02 17:07] bebi78 commented on #69
@wwjvdsande @MA-Jjingyi @MFernflower I have prepared a package with cinnamyls and alkaloids (see attached file). If you want me to add any other compound from my list let me know. Otherwise I will dispatch the compounds on Friday.

@flavioemery Shipping address of Wendy in Rotterdam see above (second comment of Wendy).

[Cinnamyl.Alkaloids.docx](https://github.com/OpenSourceMycetoma/Series-1-Fenar

[2022-03-03 08:30] wwjvdsande commented on #69
@bebi78 @mattodd I do no the group in Westerdijk too. We already screened one of their early fungal libraries and got 2 or 3 hits. They just purified the compound and we still need to confirm their hit.

[2022-03-03 08:36] wwjvdsande commented on #69
@bebi78 @MFernflower @mattodd  it looks ok to me. May be we screen first and then see which direction we get the most hits? We need to narrow down at some point which series we take to the larval model. Unfortunately if we get a lot of different hits it will be impossible for @MA-Jjingyi to screen everything in the larvae as well. It is quite labour intensive.

[2022-03-03 09:54] wwjvdsande commented on #70
@mattodd @dmitrij176 @fantasy121 @kym834 @MA-Jjingyi I just put in a request in the SSGCID website for the crystal structure of the CYP51 gene of M. mycetomatis

[2022-03-03 15:06] bebi78 commented on #69
@wwjvdsande @MA-Jjingyi Sure. Only the most promising compounds should advance to animal testing. The package will go out tomorrow by UPS again. I will let you know the tracking number as soon as I get it from UPS.

[2022-03-03 15:13] mattodd commented on #69
OK, this is great - are we up to date with these compounds being entered into the MycetOS Master List? Important we have the codes and the SMILES etc all added in, if not.

[2022-03-04 12:40] bebi78 commented on #69
@wwjvdsande Er komt een pakket aan. UPS tracking number is: 1Z99F7F10490074759
@mattodd @dmitrij176 @MA-Jjingyi The dock file above (Cinnamyl.Alklaoids.docx) contains names, mol weights, amounts and SMILES codes of the dispatched compounds. I haven't provided a file with the structures because they can be easily found via google and/or in organic or natural product chemistry textbooks.

[2022-03-04 13:04] MA-Jjingyi commented on #69
@bebi78 thanks. we will let you know when we receive it. and we plan to test them in near future.

[2022-03-11 08:36] MA-Jjingyi commented on #69
@bebi78 @dmitrij176  Hi, all compounds Mw and weight from these two files (mycetoma.list..docx MycetOS.022022.docx) are very clear to be found. thanks for your help. and I just have a small question. the Mw number of the compound called "Gramicidine D" is different between the file (mycetoma.list: 2000g/mol)and the spreedlist in Github (MYOS-00263 :1882.33g/mol). please tell me which one is correc

[2022-03-11 12:41] bebi78 commented on #69
@MA-Jjingyi @dmitrij176 According to the label of my gramicidin D sample, it is a mixture of gramicidines and so the MW is ca. 2000 g/mol.

[2022-03-11 14:05] MA-Jjingyi commented on #69
thanks. I will choose 2000 g/mol to do solution.

[2022-03-15 15:21] wwjvdsande opened #73 "Meeting 22 march"
Open Source Mycetoma (MycetOS) Meeting
Recurring Meeting Zoom link: https://uni-sydney.zoom.us/j/99281549497

Time: New York 7 AM - UTC 12 noon - London 12 noon - Rotterdam 1 PM - Sydney 11 PM - (2022 schedule discussed below)

Chair: USyd

Minute taker: ErasmusMC

Recording can be found [here](https://youtu.be/J2frPczS1_0)

Minutes can found below

Link to previous meeting https://github.com/Open

[2022-03-16 22:04] mattodd commented on #73
Any chance we can have a rough Agenda, including actions-needing-to-be-chased based on @kym834 's minutes [here](https://github.com/OpenSourceMycetoma/Series-1-Fenarimols/issues/70#issuecomment-1048267518)? People should feel free to highlight anything else of note e.g. recent shipments of new compounds.

[2022-03-19 08:36] wwjvdsande commented on #73
@mattodd @MFernflower agenda is added

[2022-03-22 11:01] MFernflower commented on #73
@wwjvdsande 12 UTC is 8 in new york - is this the correct time?

[2022-03-22 11:07] wwjvdsande commented on #73
@MFernflower in my agenda it states that the meeting starts in an hour from now. I used the link sent by @kym834

[2022-03-22 11:29] mattodd commented on #73
Apologies - I've been called to something else and need to give my apologies for the meeting, but I will catch up with the discussion later on. Hope everyone's well.

[2022-03-22 13:54] dmitrij176 commented on #73
[Bio assay 2022.docx](https://github.com/OpenSourceMycetoma/Series-1-Fenarimols/files/8324859/Bio.assay.2022.docx)
 @MA-Jjingyi  @wwjvdsande could you please check the list and let me know which ones you recognise/ have analysed already. If we do it that way it would be easier and faster to identify the missing samples.

[2022-03-22 13:57] dmitrij176 commented on #73
For wexample, there are only 2 entries with a mass of 3 mg: DM40-1 and 44-1.

[2022-03-22 20:00] MA-Jjingyi commented on #73
@dmitrij176 thanks for your help. after checking the compounds we have received, the DM52-1 in your list is different from DM52-2 on the bottle. and the one didn't identify clearly seems like the DM44-1, because the same MW 342.8 and 3mg.

[2022-03-22 23:08] MFernflower commented on #73
@MA-Jjingyi can you upload today's powerpoint?

[2022-03-24 14:01] bebi78 commented on #73
@MA-Jjingyi In terms of the natural compounds series, have you identified any inactive compounds? You showed only compounds working at 100 and 25 µM in your presentation and so I wonder which ones are inactive compounds and which ones are just not tested, yet.
@MFernflower @mattodd @wwjvdsande Since Ptero-Hepam and the DIM compounds showed activity at 25 µM, is there interest in testing more HDAC

[2022-03-25 09:02] MA-Jjingyi commented on #73
Hi,@MFernflower, sorry to reply late.
[22032022 MyctOS meeting -MA.pptx](https://github.com/OpenSourceMycetoma/Series-1-Fenarimols/files/8348980/22032022.MyctOS.meeting.-MA.pptx)
these data are just from 1 times test. they need to repeat 3 time as usual. and I will update all data as soon as possible.

[2022-03-27 02:46] MFernflower commented on #73
@bebi78 I think it would be worth waiting for the re-test of DIM before sending more compounds - I do wonder if DIM has a known LD50 in insects considering the eumycetoma animal model is a caterpillar

[2022-03-28 13:24] MA-Jjingyi commented on #73
Hi, @wwjvdsande @bebi78 @MFernflower, the data has already updated in the excel online, including MIC at 100 and 25 uM, MIC  and IC50 of MM55 strain. please have a look. The MIC50s will be tested next week. and of course, the left compounds will be tested recently.

[2022-03-28 16:55] bebi78 commented on #73
@MFernflower I only found a paper about DIM having estrogenic effects on fish larvae upon chronic exposure.

[2022-03-28 16:57] wwjvdsande commented on #55
@fantasy121 @mattodd: @Wilson-Lm and I updated and merged the paper in the dropbox. Not sure if I understood the SAR correctly but is it correct that in the first SAR figure you mention the lead compounds with _in vivo_ activity in the larvae? If so, only MYOS00001, MYOS00003, MYOS00004, MYOS00008 and MYOS00010 prolonged larval survival.

[2022-03-30 01:26] MFernflower commented on #73
@wwjvdsande @bebi78 Might be worth evaluating DIM in-vivo once larvae season beings

[2022-04-01 15:20] Wilson-Lm commented on #55
Hi all,
Is anyone planning to work on the manuscript this weekend? I am asking because I will be doing some editing in the manuscript on dropbox this weekend. I am unable to directly make changes in the document on dropbox via browser, so I will have to download it, edit and the reupload.

Just FYI, please let me know if you are planning to work on it and we can plan it out.

[2022-04-01 15:21] MFernflower commented on #55
When will this paper be uploaded to googledocs? I don't have a dropbox

[2022-04-01 22:02] Wilson-Lm commented on #55
I believe there was an issue with googledocs and we had to put it in dropbox, not sure if that still applies. Will need to have a look at this. It is more accessible with googledocs.

[2022-04-04 07:36] wwjvdsande commented on #55
@mattodd @fantasy121 @dmitrij176 @Wilson-Lm @MFernflower I have uploaded the version @Wilson-Lm worked on in dropbox. You can find it here: https://www.dropbox.com/scl/fi/fi6viozy057abhymgq1f3/Fenarimols-4-20220404.docx?dl=0&rlkey=rz3izx2asuqjqdl6g4ogxgk15

[2022-04-07 10:22] bebi78 commented on #69
@wwjvdsande @mattodd @MFernflower @MA-Jjingyi  I can provide a sample of bifonazole (3-5 mg) if it has not been tested, yet, in your lab. I have read that clotrimazole is inactive against mycetoma fungi but bifonazole is reported as an improved imidazole with superior antifungal properties based on its dual mode of action attacking two enzymes of the ergosterol biosynthesis pathway.

[2022-04-10 22:54] kym834 commented on #71
Hi @OpenSourceMycetoma/corecontrib,

@fantasy121 and I have been working on the SAR for Series 1 and from the in vivo analysis there are a few holes that would be easy to fill and give us matched pairs that will allow us to make some better determinations from SAR. We think we should be able to make some compounds to help fill it in by the end of the month.

Wondering what is the latest possible d

[2022-04-11 06:27] wwjvdsande commented on #71
@OpenSourceMycetoma/corecontrib @fantasy121 @kym834 @Wilson-Lm @MA-Jjingyi
For the tast possible date to ship compounds I would suggest no later than 1 July. Last year we had a lot of issues in the last parts of the larvae season and we need to screen _in vitro_ before. It is simply to labourintensive to screen everything _in vivo_. @Wilson-Lm has left it is only @MA-Jjingyi able to screen.

@Wils

[2022-04-21 14:19] wwjvdsande opened #74 "Meeting 26 April"
Open Source Mycetoma (MycetOS) Meeting
Recurring Meeting Zoom link: https://uni-sydney.zoom.us/j/99281549497

Time: New York 16:00 - UTC 20:00 - London 21:00 - Rotterdam 22:00 - Sydney 06:00

Chair: ErasmusMC

Minute taker: UCL

Recording can be found [here]

Minutes can found below

Link to previous meeting https://github.com/OpenSourceMycetoma/Series-1-Fenarimols/issues/73

Agenda

[2022-04-21 16:18] mattodd commented on #74
Time is fine for me.
For the paper, am I right in thinking that the Google Doc is now out of date and that the current version of the paper is the one linked [here](https://github.com/OpenSourceMycetoma/Series-1-Fenarimols/issues/55#issuecomment-1087216694)? And how about all the various files needed for the paper - where are they collected? It would be useful to be 100% sure on the location of bo

[2022-04-22 06:11] wwjvdsande commented on #74
@mattodd @OpenSourceMycetoma/corecontrib the most recent paper is in dropbox. There were issues with the chemical figures in the Google doc document and that was why we all decided to use the dropbox.

[2022-04-23 12:14] bebi78 commented on #51
@fantasy121 @mattodd @MFernflower Do you have some of the active triaryl methanol derivatives left (ca. 50 mg)? I would like to prepare some metal complexes (coordination via the pyridine ring) with these compounds if you agree. I already prepared ruthenium complexes of clotrimazole and bifonazole for my parasite project. There are reports that metal complexes of azoles show improved antifungal an

[2022-04-26 21:04] fantasy121 opened #75 "Meeting for Chemistry Writing Style Syncing for Characterisation Data"
@kym834 @dmitrij176 @fantasy121

Setting up a meeting for writing style. Please put your availability below.

[2022-04-26 21:10] fantasy121 commented on #75
Time converter for Sydney + London [here](https://www.timeanddate.com/worldclock/meetingtime.html?year=2022&month=4&day=30&p1=240&p2=136)
<img width="680" alt="Screen Shot 2022-04-27 at 7 09 12 am" src="https://user-images.githubusercontent.com/36176821/165392914-dabfbd84-6aab-497f-925c-a4322cdfa5eb.png">
<img width="672" alt="Screen Shot 2022-04-27 at 7 09 00 am" src="https://user-images.githubus

[2022-04-26 21:14] fantasy121 commented on #75
I found some good time slots for the meeting. Looks like it's similar time to what we have for monthly meetings. I'm happy to do Thursday or Friday this week if you're free as well. (We can also potentially do the morning Sydney hour and evening London hour version as well (like our Apr meeting just then) if you want.

[2022-04-26 21:17] fantasy121 commented on #51
![Slide2](https://user-images.githubusercontent.com/36176821/165393787-f8b18564-846d-4b87-bcc8-509f30e2e448.jpeg)
![Slide3](https://user-images.githubusercontent.com/36176821/165393794-08f818ac-9c43-4b70-acfe-2f5326616f1f.jpeg)
![Slide4](https://user-images.githubusercontent.com/36176821/165393798-5ee57953-f6a0-4463-843c-f279a1dd9469.jpeg)
![Slide5](https://user-images.githubusercontent.com/361768

[2022-04-26 21:17] fantasy121 commented on #51
Updated drafts figures for SAR

[2022-04-27 05:45] kym834 commented on #75
Thursday 5 PM Sydney and 8 AM London works for me.

[2022-04-27 10:47] dmitrij176 commented on #75
Hi guys. Any chance to do it on Saturday or Monday?

[2022-04-27 10:49] dmitrij176 commented on #75
By the way, for how long in terms of time are we aiming?

[2022-04-27 23:04] kym834 commented on #75
I can do Monday, busy on Sat though. I think we will only need 30 mins.

[2022-04-27 23:05] dmitrij176 commented on #75
Lets do Monday. @fantasy121 are you ok with that day?
What time @kym834 ?

[2022-04-27 23:15] kym834 commented on #75
@dmitrij176 5 PM Sydney and 8 AM London?

[2022-04-27 23:17] dmitrij176 commented on #75
Ok

[2022-04-28 08:34] MA-Jjingyi commented on #74
Hello, everyone. the data are updated in the excel. and I share the slides here too. several experiments are on going, and I will update them as soon as possible.
[26042022 MyctOS meeting -MA.pptx](https://github.com/OpenSourceMycetoma/Series-1-Fenarimols/files/8580968/26042022.MyctOS.meeting.-MA.pptx)
.

[2022-04-28 22:35] kym834 commented on #75
A zoom link for the meeting https://uni-sydney.zoom.us/j/85031777919?from=addon

[2022-05-01 19:28] dmitrij176 commented on #75
@kym834 @fantasy121 guys, can we do it 6 pm Sydney and 9 am London time instead ?

[2022-05-01 22:50] kym834 commented on #75
If we want to push back, it is better at 7PM Sydney and 10AM London for me.

[2022-05-01 23:19] dmitrij176 commented on #75
Great, thanks a lot.

[2022-05-01 23:19] dmitrij176 commented on #75
Of course if Hung is ok with that as well.

[2022-05-02 03:53] fantasy121 commented on #75
That’s good with me too

[2022-05-03 10:18] wwjvdsande commented on #74
@bebi78 that is a good suggestion

[2022-05-03 10:49] mattodd commented on #75
Hi all - any conclusions here about ways forward or things needing resolving?
Please do remember the thing about needing to compile all the raw NMR data as supporting information for the paper (i.e. not just PDFs of novel compounds, but the NMR data themselves) - will save time later if these are e.g. already on lab notebooks so that they can be collected together and submitted (most likely to a u

[2022-05-03 23:39] kym834 commented on #75
@mattodd yes. We've chatted through what we want to do to make all the experimental write up consistent so that we all are following the same formatting. We went through the C-F coupling as well and @dmitrij176 and @fantasy121 are going to update the <sup>13</sup>C NMR data along with the rest of the experimental to reflect these and the things below once we made some decision on them.

We know th

[2022-05-03 23:41] dmitrij176 commented on #75
@kym834 thanks for the update.

[2022-05-03 23:43] kym834 commented on #74
Hi all, just updating that @dmitrij176, @fantasy121 and I have had a meeting to discuss the experimental write up etc with a few things still needed to be decided upon, see #75.

@Wilson-Lm, @wwjvdsande @mattodd - I'm wondering if for the paper draft, do you want to have all the chemistry experimental write up included? This is not always included in the paper itself but rather as Supp Info for ma

[2022-05-04 11:54] bebi78 commented on #74
@kym834 It also depends on the journal and you have to check the author guidelines of the chosen journal.
For J. Med. Chem. it is usually sufficient to provide typical procedures for selected compounds in the experimental section of the main manuscript, the rest can be placed in the supplement (see attached file). But other Med Chem journals want to have the procedures and analytics of all test co

[2022-05-04 12:06] mattodd commented on #74
Hi all - yes, the extent to which the data will go in the paper will vary, but so long as it's prepared in one file, we can cut and paste. Certainly any known molecules would be expected to be in the SI, and if we're using previous procedures we can just reference those without needing to write them out again.

[2022-05-04 12:11] mattodd commented on #75
OK, thanks @kym834. My take:

1) Purity. Certainly expected for anything biologically evaluated. LCMS can be used, as can copies of 1H and 13C NMR spectra of the evaluated sample.
2) Abbreviations, yes just decide on a set and make a list up front.
3) 19F is nice if you have it, and would be nice for any novel compounds, but the ppm value will not change much for these compounds so it's of limited

[2022-05-04 16:21] Wilson-Lm commented on #74
Hi all, indeed what @kym834 mentioned, it is not necessary to have all the chemistry experimental write up included in my thesis. In my case, focus would be mainly placed on the biological evaluation and the concept of drug repurposing. In the Netherlands, our thesis is a collection of articles published by the PhD candidate + an intro and discussion chapters. It is allowed to have a couple of 'ar

[2022-05-09 07:29] wwjvdsande opened #76 "Meeting 24 may"

[2022-05-09 07:36] wwjvdsande commented on #76
@OpenSourceMycetoma/corecontrib we will be away on the 24th and not be able to join the meeting. Do you want to proceed this meeting without the ErasmusMC team or do you want to move it one week (either earlier or later).

[2022-05-09 07:39] kym834 commented on #76
Happy to meet either the week before or later :)

[2022-05-09 16:54] bebi78 commented on #76
Sure. One week earlier or later is OK for me.

[2022-05-10 12:47] dmitrij176 commented on #76
I am good with both options.

[2022-05-10 13:26] dmitrij176 commented on #71
![Assay Results 2022 (Feb) png](https://user-images.githubusercontent.com/44785501/167635433-3a36d079-e5c3-4953-9ef0-6b5ae92958ef.png)

Here is an updated scheme of the latest biological assay results (_in vitro_ stage).
Several entries were missing in excel table, but that has been fixed now. All MycetOS codes are correct  and up to date.
Key points from _in vitro_ testing:
- proposed dioxolane r

[2022-05-10 13:47] wwjvdsande commented on #71
Looks great!

[2022-05-10 14:12] MFernflower commented on #71
Maybe a ketoxime with an phenylethyl side chain might be good? @dmitrij176
phenyl ethyl chloride is cheap

On Tue, May 10, 2022, 9:48 AM Wendy van de Sande ***@***.***>
wrote:

[2022-05-10 14:46] bebi78 commented on #71
@dmitrij176 @mattodd @MFernflower Excellent. The ketoximes are very promising. I suppose some of them were already described as anti-Chagas compounds in the thesis of Erin Smith. But more (new) derivatives should be definitely prepared.
Question: where can I find the excel table/file with the results?

[2022-05-10 23:52] kym834 commented on #75
@mattodd I've copied over the first few procedures from the paper to this [google doc](https://docs.google.com/document/d/1jUMTSB2543FK6vYs_yfP6IHhUAWAyWo2pXS7ywYvDQk/edit?usp=sharing) for us to work on together to get the formatting right. I've updated these to the formatting that we have decided on already (🤞 I didn't miss anything). Should be open for everyone to edit.

Addressing other points:

[2022-05-10 23:54] kym834 commented on #74
@Wilson-Lm OK. We can prioritise pulling together all the data and experimental for those tested in vivo first so you can include that in your thesis then finish off all the other compounds.

[2022-05-11 00:08] kym834 commented on #74
I've added a new sheet to the Master List workbook called 'MYOS in vivo' where I've just pulled out those that have been tested in vivo (we can delete this once we've sorted out if need be). @Wilson-Lm can you double check that this has all the compounds that have been tested in vivo so that we don't miss any?

[2022-05-11 12:45] mattodd commented on #76
@kym834 - would you be able to alter the Outlook invite (if you were the one that sent it?).

[2022-05-11 14:18] bebi78 commented on #74
@mattodd @fantasy121 I think one contributor asked for the mechanism of action of the new fenarimols during the meeting. Maybe the pyridine ring of one of the triarylmethanol derivatives can be alkylated with methyl iodide or benzyl bromide to prevent iron binding at the assumed cytochrome target. If the alkyl pyridinium derivative shows no antifungal activity anymore this may be a hint at cytochr

[2022-05-11 14:31] dmitrij176 commented on #74
@bebi78 at least that what I would expect to happen as well. This is based on the known role of pyridine/azole moieties as iron binding regions. Maybe it would be useful to get at least several molecules for proof of concept studies. In addition, the importance of N-containing ring will be also evaluated in the next batch with deoxybenzoin and deoxyanisoin scaffolds that Bernard provided recently.

[2022-05-11 14:38] dmitrij176 commented on #71
so that substrate would be similar to DM52-1, but longer by -CH2 group. Might worth a shot. I suggest we wait for in vivo performance of DM52-1 and then decide on that one.

[2022-05-11 14:58] bebi78 commented on #74
@dmitrij176 Yes, the benzoin and anisoin derived ketoximes can also give hints at the role of the pyridine ring. One-two compounds should be sufficient for first results. I suggested the triarylmethanol fenarimols because some of them have only one pyridine ring and no additional N-heterocycles such as piperazines, which might also undergo alkylation and might lead to some sort of false results ba

[2022-05-11 15:35] bebi78 commented on #71
@dmitrij176 In addition, some substituents (halo, methoxy) at the benzyloxy ring of DM52-1 might lead to interesting derivatives.

[2022-05-11 17:26] MA-Jjingyi commented on #69
Hi, @bebi78 , We have screened these compounds. and I check all data just now. the result shows that these compounds didn't inhibit fungi growth at 100uM and 25uM. the MYOS number of these compounds is from MYOS_00207_00_01 to MYOS_00216_00_01. you can find these data easily in the spreedsheet of Github. if you have any question about these data, please let me know.

[2022-05-11 19:48] MA-Jjingyi commented on #71
Hi, @dmitrij176 , I tested the compounds noted DM44-1, not DM44-2. please double check the compounds name which you sent to me.
the others 4 compounds MIC data will be added into speadsheet soon.

[2022-05-12 06:14] wwjvdsande commented on #71
@bebi78 as far as I'm concerned it is a good idea to include these in your paper

[2022-05-12 06:16] wwjvdsande commented on #71
@bebi78 yes you can add the Zimt compounds to your paper

[2022-05-12 23:38] kym834 commented on #75
@dmitrij176 and @fantasy121 let's get started on pulling together the experimental for those compounds which have been tested _in vivo_. This will help Wilson to get his PhD submitted, we can share with Mat and others to finalised the formatting and then use all this info to work on all the other compounds.

By my count (and I've as Wilson to double check, and maybe you both can to) these are the

[2022-05-13 21:52] Wilson-Lm commented on #75
Hi all,
I've confirmed the number of compounds that were tested _in vivo_. The ones listed in the excel sheet (22 in total) is correct.
Thanks for compiling this @kym834

Looking forward to see the latest version :)

[2022-05-18 12:41] bebi78 commented on #71
@wwjvdsande @MA-Jjingyi What isolate are you using for your tests? Somalian, Sudanese?

[2022-05-30 10:06] mattodd commented on #76
@OpenSourceMycetoma/corecontrib hopefully everyone on for the meeting tomorrow. Am I right in thinking UCL is chairing and Sydney is minuting (where is the rota for this?). Could everyone please take a look at the above and try to complete actions assigned to them? Has the last meeting recording been uploaded?

[2022-05-30 16:46] MA-Jjingyi commented on #76
Hi, everyone. The MIC data have been updated in the spreadsheet. you all can check it easily.

@dmitrij176  because I received the compounds noted as DM41-2 and DM44-1, i changed the name in the spreadsheet and updated these data for them.

[2022-05-30 23:21] dmitrij176 commented on #76
Thanks

[2022-05-31 14:46] bebi78 commented on #76
@wwjvdsande @mattodd @MFernflower It is good to have computer chemistry experts from Cameroon in the team now. Aside Cyp51, further suitable docking targets of certain compound series can be tubulin (benzimidazoles), HDAC (Ptero-Hepam), and kinases. Maybe docking calculations can lead to a pre-selection of kinase inhibitors in case there won't be funding to buy a complete library of kinase inhibit

[2022-06-04 13:17] bebi78 commented on #76
@wwjvdsande @MA-Jjingyi You mentioned that naphtharazin is non-toxic. Was juglone toxic in previous tests?

[2022-06-06 09:00] MA-Jjingyi commented on #76
Hi,@bebi78. in our test, juglone's IC50 is beyond 8uM. we didn't select it as a promising one to do larvae test. but as for naphtharazin, it is non-toxic in our larvae toxic test.

[2022-06-06 11:09] bebi78 commented on #76
@MA-Jjingyi Thanks. This is very interesting.
@wwjvdsande I think you mentioned in a previous meeting that juglone was tested by you some years ago and found to be toxic.

[2022-06-06 12:20] dmitrij176 commented on #76
@AndyBishopSevenoaks ?

[2022-06-06 18:20] AndyBishopSevenoaks commented on #76
We only sent through the organic phase, happy to also send on the aqueous phase but not sure there is anything useful in there. How did the extraction go for @fantasy121? PDF of synthetic route and final structure below.
[Sevenoaks Synthesis #1.pdf](https://github.com/OpenSourceMycetoma/Series-1-Fenarimols/files/8846613/Sevenoaks.Synthesis.1.pdf)

[2022-06-07 06:53] wwjvdsande commented on #76
We tested juglone previously. It was indeed toxic to the larvae. The paper can be found here: https://pubmed.ncbi.nlm.nih.gov/35064672/
The toxicity data were published in a supplemental figure:
![image](https://user-images.githubusercontent.com/36398138/172315001-d15456c0-062b-4ca8-940a-766783cdbcb8.png)

[2022-06-07 11:19] bebi78 commented on #76
@wwjvdsande Thanks a lot for sharing the paper! Maybe naphtharazin can also inhibit melanin synthesis or act synergistically with azoles.
I just want to add that one of my cancer research partners found out that naphthazarin inhibits c-Myb activity in human cancer cells. Maybe that can become a suitable antifungal target, too.

[2022-06-10 11:44] bebi78 commented on #76
@mattodd @wwjvdsande @kym834  Seems that a group in Otago can provide benzoxazoles from the DNDi leishmaniasis project.

[2022-06-13 14:27] bebi78 commented on #76
@mattodd @bendndi @wwjvdsande @MFernflower Just repeating my today's mail to Ben for the members of this group: Some companies of the DNDi NTD Drug Discovery Booster Hit-to-Lead program, e.g., Takeda and Daichii-Sankyo, have published or patented various benzoxazoles as kinase inhibitors or antifungals. Booster S05 project also deals with some interesting azabenzimidazoles. Maybe they can share so

[2022-06-14 09:57] mattodd commented on #55
Hi @OpenSourceMycetoma/corecontrib I've taken a look at the first half of the paper, up to the point where the SAR analysis starts. File is "Fenarimols 4 (20220613)"

I'm not clear on the split between the experimental section in the manuscript (which is short) and the experimental section for the SI (which is presumably much longer). Is there a plan to put everything in one place? There are still

[2022-06-15 07:59] fantasy121 commented on #76
@kym834 should be able to answer this question better as she is more familiar with this series. Thanks.

[2022-06-15 08:35] fantasy121 opened #77 "MycetOS Meeting 28th June 2022"
Chair USYD
Min Erasmus

### **Open Source Mycetoma (MycetOS) Meeting**

Meeting Zoom link [here](https://uni-sydney.zoom.us/j/99281549497)

**Time:**

**Chair:**  USYD

**Minute taker:** Erasmus

_Recording_ can be found here

_Minutes_ can found here

**Link to previous meeting**
____________________________________________

### AGENDA

### 1. Outstanding items from previous meeting

### 2. Discu

[2022-06-17 18:22] dmitrij176 commented on #76
Hi Kymberley (@kym834 ). I am purifying a thiazole type compound for Sevenoaks School.
Could you please advise me on purification; I am particualry interested in gradient and solvent system choice. Maybe you could redirect me to one of your ELN pages which would have close structures to my thiazole.
<img width="134" alt="image" src="https://user-images.githubusercontent.com/44785501/174355013-36f2

[2022-06-27 21:43] mattodd commented on #77
Hi @OpenSourceMycetoma/corecontrib - hopefully everyone is on board with the meeting tomorrow. Please check the above, as well as the previous meeting issue #76 for any actions assigned to them. Please could people also, if they have been involved in signfiicant discussions over the past month (e.g. on paper writing or compound synthesis or OpenSourceMycetoma/Adjuvant-Screen#1 or OpenSourceMycetom

[2022-06-28 01:43] fantasy121 commented on #77
Hi Mat, I’m unable to attend the meeting. Could someone else please chair this session and I’ll chair the next meeting we have. Thanks. Kym is no longer at USYD so I don’t have an alternative chair from USYD for this meeting.

I will write an update of my progress here by the end of the week.

[2022-06-28 06:15] wwjvdsande commented on #77
@OpenSourceMycetoma/corecontrib I'm making the minutes tonight. Can you chair @mattodd? If the team from Sydney does not join in, Do we still keep the time or do we move it to tue 28th June GMT 10:00 (12:00 London, 13:00 Amsterdam, 7:00 New York)?

[2022-06-28 06:16] wwjvdsande commented on #77
@kym834 the compounds from the students arrived

[2022-06-28 06:19] mattodd commented on #77
Hi @OpenSourceMycetoma/corecontrib - yes, if Sydney are not joining then it makes sense to move the time. I could do 12:30 London time today, which is 13:30 Euro time? Any preferences from anyone?

[2022-06-28 06:25] wwjvdsande commented on #77
I have a second meeting starting at 14:00 Euro time. So 13:30 is a bit short may be. However I can move to 12:00 euro time or 15:00 euro time.

[2022-06-28 13:26] wwjvdsande commented on #77
Minutes
1. Discussion on the outstanding items from previous meeting
•	  The first action item was to look up compunds in the Epichem library which could fill in the holes of the SAR. The link of the library is found [here](https://github.com/OpenSourceMycetoma/Series-1-Fenarimols/issues/65#issuecomment-955848573).  [@fantasy121](https://github.com/fantasy121) and [@dmitrij176](https://github.com/

[2022-06-29 09:54] bebi78 commented on #77
@wwjvdsande @mattodd Sorry that I could not attend yesterday afternoon. Any tasks for me?

[2022-07-05 06:29] kym834 commented on #76
@dmitrij176 - we were able to isolate all these compounds by the addition of water which formed clean pure precipitates. Simple wash with water and then hexanes was all that was needed.

I have done columns of some of the compounds but they are really limited by solubility. Have you been able to get it to dissolve? If not, dissolve the sample in DCM or ethyl acetate and then add ~5 drops of DMF to

[2022-07-05 13:29] dmitrij176 commented on #76
Thank you Kymberley. Indeed solubility was an issue. Very useful information for future isolations.
Lastly, would you mind posting the URL adress of the website with C13 coupling database. Other sources for C-F coupling were not as good and informative as the one you showed to us before. Really would appreciate that to finish the remaining experimental for the paper.
Thanks

[2022-07-08 08:31] MA-Jjingyi commented on #71
Hi,@dmitrij176. we will pay attention to the package. when we get the compounds , we will let you know.

[2022-07-26 06:34] wwjvdsande opened #78 "MycetOS meeting 26-07-2022"
Chair ErasmusMC
Min UCL

Open Source Mycetoma (MycetOS) Meeting
Meeting Zoom link [here](https://uni-sydney.zoom.us/j/99281549497)

Time: Tue 26th June GMT 11:00 (12:00 PM London, 13:00 Amsterdam, 6:00 New York, 20:00 Sydney) Check your calendar invite

Chair: ErasmusMC

Minute taker: UCL

Recording can be found here:

Agenda

**Series 1**
- [ ] [@fantasy121](https://github.com/fantasy121) and [@d

[2022-07-26 06:36] wwjvdsande commented on #78
@OpenSourceMycetoma/corecontrib I posted the agenda for todays meeting. If I'm correct ErasmusMC is chair and UCL is taking minutes but I was not completely sure. If it is incorrect please let me know and I change it.

[2022-07-26 06:59] mattodd commented on #78
Thanks for doing that @wwjvdsande. I'm at a conference (on antibiotics) right now and thought I could make our meeting today, but it turns out I'm speaking at almost exactly the same time. I will try to make it, but I'm not 100%. Can others make it? e.g. @fantasy121 @OpenSourceMycetoma/corecontrib ?

[2022-07-26 12:19] fantasy121 opened #79 "Mycetoma Monthly Meeting 23 August 2022"
Time

Recording here

Minute here

### Action Items
_**Admin**_
- [ ] We need to generate backup meeting links for recording purposes as Zoom accounts only allow co-host privilege to people of the same organisation. UCL and/or Erasmus to create alternative Zoom/team links to host, in case main link cannot be used for recording. (@dmitrij176 @mattodd @MA-Jjingyi @wwjvdsande)

_**List of epichem com

[2022-07-26 13:05] MFernflower commented on #78
Sorry that I was unable to attend the meeting

On Tue, Jul 26, 2022, 2:59 AM Mat Todd ***@***.***> wrote:

[2022-07-26 16:43] mattodd commented on #79
Hi all - sorry again to have to miss the last meeting. Thanks for starting this issue in lots of time, @fantasy121.

A request re minutes - can we please put minutes text into the main body of an Issue, rather than in a separate Word file? It means that we can more easily find things using Github's search function and browse text. So, minutes/actions/developments should be folded into the Issue of

[2022-07-26 20:36] bebi78 commented on #79
@mattodd Seems that the most promising compound is the COD-platinum complex Pt1, which is a common starting material in platinum chemistry. It is important to know how the complex was applied, since DMSO is not an inert solvent for platinum complexes.

[2022-07-26 20:49] bebi78 commented on #79
@fantasy121 I prepared some metal complexes from commercially available antifungal imidazoles such as clotrimazol recently, for an antiparasitic drug discovery project. Might be also applicable for some of your compounds. Such complexes probably won't coordinate the cytochrome iron anymore, but in case they are active they would provide a hint at alternative mechanisms of action.

[2022-07-27 00:44] MFernflower commented on #79
@mattodd @bebi78 @wwjvdsande is series 7 our natural product and analogue foray? - Might need to change repo information

[2022-07-27 07:45] mattodd commented on #79
@MFernflower we've an [existing repo](https://github.com/OpenSourceMycetoma/Adjuvant-Screen) to capture screening of "adjuvants". I think we designate a series number when we get specific and start exploring structures. For random screening discussions we also have [this](https://github.com/OpenSourceMycetoma/What-other-molecules-to-screen).

[2022-07-27 10:01] MFernflower commented on #79
@mattodd alright I'm not going to rename anything - sorry I could not
attend yesterday's meeting

On Wed, Jul 27, 2022, 3:45 AM Mat Todd ***@***.***> wrote:

[2022-07-27 11:28] bebi78 commented on #79
@MFernflower See video of the meeting for explanation of series 7. I think Wendy has labelled them so.
@mattodd Our metal PhD student told me we have still some mg of the COD platinum complex Pt1 I can share. Would be nice if Dr. Blaskovich or some of his coauthors like the godfather of metal-based drugs Peter Sadler could join on github.

[2022-07-28 07:50] wwjvdsande commented on #79
@mattodd @bebi78 this sound OK to me. I will be away for a few weeks but you can contact @MA-Jjingyi in case anything needs to be arranged.

[2022-07-29 01:15] MFernflower commented on #78
@bebi78 MW of perfume compounds
added to master sheet @wwjvdsande

[2022-07-29 17:50] MFernflower commented on #79
@wwjvdsande @bebi78 with regards to chlorpromazine and the series 3 - it seems like it was screened as part of a MMV box but it seems a bunch of data is missing from the sheet about it? - so maybe re screen material provided by @bebi78 is useful?

@bebi78 if you have trifluoperazine as well to send with the chlorpromazine that could be useful as that's a known fungal calmodulin inhibitor

[2022-07-31 12:48] MFernflower commented on #78
With regards to the idea of metallic antimicrobial drugs - auranofin has
show decent antibiotic activity @bebi78 I wonder if it was in the mmv
boxes? @wwjvdsande

On Thu, Jul 28, 2022, 9:15 PM MFernflower ***@***.***> wrote:

[2022-08-01 13:02] bebi78 commented on #78
@MFernflower Yes, auranofin is an interesting compound. A group in Brazil used it as part of the MMV box (see attached file). But I could not find it on the list.
@wwjvdsande We used auranofin as a reference drug but we have only a few drops of a DMSO stock solution left and it is quite expensive. If auranofin hasn't been tested yet, maybe MMV can provide it.

[auranofin.antifungal.pdf](https://gi

[2022-08-12 15:24] bebi78 commented on #79
@MFernflower Sorry, I don't have trifluoperazine. But today I received buparvaquone. So next week I will send @wwjvdsande and @MA-Jjingyi chlorpromazine, buparvaquone, and COD-PtCl2.

[2022-08-23 20:04] wwjvdsande commented on #79
@OpenSourceMycetoma/corecontrib we are currently in the meeting, however there is just the three of us. Is someone else joining

[2022-08-23 20:06] wwjvdsande commented on #79
@fantasy121 we used the link in the outlook invite
 https://uni-sydney.zoom.us/j/99281549497

[2022-08-23 20:10] wwjvdsande commented on #79
@fantasy121 we will start

[2022-08-23 20:12] mattodd commented on #79
Apologies, I'd thought the meeting was an hour later. Will catch up with
actions later on. Let me know if it's time for me to look at the paper
again, and how the SI is looking.

On Tue, 23 Aug 2022, 21:06 Wendy van de Sande, ***@***.***>
wrote:

[2022-08-26 01:19] fantasy121 commented on #79
Hi team, apologies I accidentally slept through the meeting time as I got the wrong alarm on 😅.

@mattodd @wwjvdsande Re: paper writing. Peter has reviewed the draft on my end and put it some edit suggests. He has also volunteered to make some more edits in the actual draft (he was having some issues with access earlier but I'll sort this out).

He asked me to forward this to the team:
"If we need

[2022-08-30 15:02] bebi78 commented on #79
@wwjvdsande What would be the next step after the larvae tests, tests in mice? I'm asking because Pterohepam was published last year by a Chinese group in J Med Chem and showed no toxicity to mice at high doses in their paper. But it was shown to be toxic to larvae here. Because mice are a mammalian model closer to humans than larvae, I wonder if Pterohepam can reach more advanced stages of antifu

[2022-09-03 16:09] bebi78 commented on #79
@wwjvdsande Did not know that you have the facilities to do mouse tests. I expected this to be done be DNDi partners. We are using chicken (CAM assay) and zebrafish embryos as surrogates which don't fall under the ethics law, either. Maybe the CAM assay might be an alternative for larvae tests over the winter season.
Pterohepam was given ip at doses of 30 mg/kg every four days without causing weig

[2022-09-06 10:22] bebi78 commented on #79
@wwjvdsande @MMos2022 Thanks for adding the results to the biological data excel file. Question: The activities of the perfumes/liquids are all presented in 1/0.25% concentrations, and the solids in 100/25 µM concentrations?

[2022-09-07 01:39] fantasy121 commented on #79
@wendy Could you add Peter to the Dropbox folder with the shared draft manuscript so he can do edit/reviews thanks. I emailed you his contact.

[2022-09-26 15:57] bebi78 commented on #79
Meeting tomorrow?

[2022-09-26 16:03] mattodd commented on #79
Yes, we're meeting, but we need a new Issue set up and the above action items digested a little. @OpenSourceMycetoma/corecontrib would someone like to set this Issue up? I confess I'm not sure whose turn it is.

[2022-09-26 19:57] dmitrij176 opened #80 "Mycetoma Monthly Meeting 27 September 2022"
**Time**: 27 September (12 UK, 1 EU, 9 Aus)
**Chair**: USYD
**Minute taker**: UCL (@mattodd)
Previous meeting: #79

Recording [here](https://youtu.be/OTzBvu0TxsM)

_**Admin**_
- [x] Decide on the monthly MycetOS meeting schedule for the upcoming months. **In the meeting**: it was decided to move to a time that is the same each month: 12 noon UK, 1 EU and 9 Sydney. It was also decided that
- [x] @m

[2022-09-26 20:14] dmitrij176 commented on #79
Good evening. According to roster 2022 #52, USYD is scheduled to host MycetOS September meeting. I have set up the new issue #80, but the new meeting time has not been decided (mentioned in August minutes). Due to time zone differences, most participants will probably miss the meeting because of late notification. I suggest that we postpone the meeting by at least one day to allow everyone to prep

[2022-09-26 20:20] mattodd commented on #79
Meeting is in my diary for 12 noon UK time Tuesday, which is 1pm EU time and 9pm Sydney. If that tallies with our expectations, then we can go ahead.

[2022-09-26 20:24] dmitrij176 commented on #79
I dont have the new meeting schedule. The question is will other MycetOS members will be able to join? Usually, meeting time is known in advance.

[2022-09-27 06:35] wwjvdsande commented on #79
@OpenSourceMycetoma/corecontrib we also were working with the time of today so both me and @MA-Jjingyi are prepared for today. If I recall from the last meeting we still needed to decide on the new meeting time and that was one of the subjects from todays meeting

[2022-09-27 06:52] fantasy121 commented on #79
I have this time for my calendar invite. And will be able to make it Thanks.

[2022-09-27 10:48] bebi78 commented on #80
@dmitrij176 Is there a zoom link available?

[2022-09-27 10:56] wwjvdsande commented on #80
https://uni-sydney.zoom.us/j/99281549497

[2022-09-27 12:03] MA-Jjingyi commented on #80
[20210927myctOS meeting -MA.pptx](https://github.com/OpenSourceMycetoma/Series-1-Fenarimols/files/9655197/20210927myctOS.meeting.-MA.pptx)
the update is here. please check. and if you have any question, please leave an message for me.

[2022-09-27 12:07] MA-Jjingyi commented on #80
leave a message.... sorry for wrong typing.

[2022-09-27 12:08] fantasy121 opened #81 "Metal-Chelating and Metal-containing compounds with anti fungal properties. Thoughts?"
@OpenSourceMycetoma/corecontrib

Just leaving this post here for structures, literature resources and suggestions of compounds with metals. Please share in the comments.

[2022-09-27 12:08] dmitrij176 commented on #80
<img width="656" alt="Снимок экрана 2022-09-27 в 13 06 57" src="https://user-images.githubusercontent.com/44785501/192521801-2d123af7-44b3-4bb0-b8b9-5bcc0c63bc35.png">

Is this roster still active?

[2022-09-27 16:06] mattodd opened #82 "Mycetoma Monthly Meeting 25th October 2022"
_This page is draft until this text is removed_

**Time**: 25th October (12 UK, 1 EU, 9 Aus)
**Chair**: UCL
**Minute taker**: USyd
Previous meeting: #80

Recording:

### 1. Biological Evaluation (Erasmus)
- [ ] @MA-Jjingyi to post powerpoint decks from Sept meeting and from Aug meeting
- [ ] @dmitrij176 to summarise (in a new post, with a link to that post from the [wiki](https://github.com/OpenSo

[2022-09-27 17:18] bebi78 commented on #81
@fantasy121 @dmitrij176 Here are some links to metal complexes of azoles. I have also published some papers about piano stool Ru complexes with pyridine ligands (analogously to the ruthenium paper link below). It is a simple reaction of 1 eq. of pyridine compound with 0.5 eq. of the commercially available Ru dimer [RuCl2(p-cymene)]2 in DCM or acetone at r.t. for a few hours. The product can be sim

[2022-09-27 21:16] kym834 commented on #80
Hi Team,

Just putting my name down for this one so we don't double up on work. I'll give an update on BG and what they've made and also bring the master list up to date over the coming weekend.

[2022-09-29 11:05] wwjvdsande commented on #82
As discussed during the MycetOS group meeting on 27 September 2022, this is the new invite for the monthly MycetOS group meetings. Our main meeting link is:
1.	https://uni-sydney.zoom.us/j/99281549497.
When nobody from university of Sydney is able to attend and record the meeting, we will meet via the alternative link in the following order:
2.	https://ucl.zoom.us/j/99789829423
3.	[MycetOS meeting

[2022-09-29 13:47] wwjvdsande commented on #82
I added the compounds of Andrea Ortago in the mastersheet and the results of the screening. However there were no smiles. In https://github.com/OpenSourceMycetoma/series-5-benzimidazoles/issues/3#issuecomment-1158804057 the structures are shown can @dmitrij176 or @fantasy121 generate smiles and/or MycetOS codes for them?

[2022-09-29 13:58] dmitrij176 commented on #82
Yes Wendy, I will let everyone know when they are added.

[2022-09-29 16:31] bebi78 commented on #81
@wwjvdsande Sometimes it also helps to add just a simple copper or iron salt to the azole in order to increase activity.

https://pubs.rsc.org/en/content/articlelanding/2019/DT/C9DT00642G
https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0208471

[2022-09-29 22:54] MFernflower commented on #80
Sorry i was unable to attend

[2022-10-08 22:12] dmitrij176 commented on #82
@wwjvdsande Master list is now fully updated with information on Benzoxazoles

![New Benzoxazoles jpeg](https://user-images.githubusercontent.com/44785501/194729494-0ac1d75b-c8ea-4c0b-bc3e-1f15831f66cd.jpeg)

[2022-10-09 22:12] dmitrij176 commented on #82
Hi @kym834. There are only 5 (Series 2) molecules left without SMILES in the Master List:
MYOS_00315_00_01
MYOS_00316_00_01
MYOS_00317_00_01
MYOS_00318_00_01
MYOS_00319_00_01
MYOS_00320_00_01

Could you please update these entries so that we can ask Ben to calculate logD values.

[2022-10-10 04:39] fantasy121 commented on #82
@mattodd @wwjvdsande Re: Peter review of our draft manuscript, Peter asked that his review could be postponed because his free time slots for review were when he was sick. Could you proceed with your part of the reviewing process and then let Peter have a look at the draft after you are done? Sorry for the delay.

Also, I will work with Klem in the next day or two to sort out the update of the Bre

[2022-10-10 06:39] AndreaOtago commented on #82
Hi, I saw you have updated the Otago compounds etc with your system codes, just a note - the compounds sent in by Otago, the 2-phenylpropanoic derived-compounds (2 compounds) are both the racemic mixture. This was on the sheet I sent in, but Ben may have not/uploaded misleading stereochem, definitely the R/S mixture from Otago. The Imperial team did make some enantiomers, but of different halogen

[2022-10-11 12:38] mattodd commented on #82
Hi @alintheopen @kym834 @KlementineJBS I'm getting multiple requests from Schools to get involved in MycetOS this academic year. It'd be very handy to know what you've made in the last academic year and what is planned, so that we can effectively allocate novel structures. Might you be able to post an update (to OpenSourceMycetoma/Series-2-Aminothiazoles#9) on 1) made structures, 2) planned struct

[2022-10-12 18:51] AndreaOtago commented on #82
Hi @dmitrij176 sorry I was just going off the visual chemdraws above, I can't find the link/where to get to the master list, and also I am unsure where the biological data file/info link is, it would be interesting to see the activity of the compounds.

[2022-10-12 19:36] mattodd commented on #82
@dmitrij176 it's the two compounds with the stereocentres, 398 and 399. According to our convention "Different stereoisomers (or mixtures thereof) should have different MYOS codes" so these racemates can keep their codes, but the drawing needs to be altered and the SMILES/InChI/InChIKEY codes need to be re-done if they are different for racemates vs single enantiomers. @AndreaOtago the link is on

[2022-10-12 22:38] MFernflower commented on #81
Auranofin - it's expensive but a decent antimicrobial

[2022-10-12 22:48] MFernflower commented on #81
Despite the unpleasant GI side effects have the antimony based drugs used to treat kala-azar been tested against eumycetoma? @bebi78 @wwjvdsande

It may very well be a lower dose of said drug could be used to kill the fungus - would be somewhat convenient as many Indian physicians already have access to said drugs for  kala-azar  treatment

[2022-10-13 03:41] kym834 commented on #82
Have now updated the SMILES etc for these compounds in the master list.

[2022-10-13 03:41] kym834 commented on #82
Have now updated the SMILES etc for these compounds in the master list.

[2022-10-13 06:13] kym834 commented on #82
Hey @mattodd,

1)

I've updated the repository for series 2 with
* the compounds that were successfully made and have been shipped by the schools in May/June. https://github.com/OpenSourceMycetoma/Series-2-Aminothiazoles/issues/9
* the compounds that SSP have been working on this year. They are currently completing the characterisation and we'll know in the next week or so if they have successfull

[2022-10-13 06:22] kym834 commented on #76
@dmitrij176 sorry I only just saw this now. Here is the website https://organicchemistrydata.org/hansreich/resources/nmr/?index=nmr_index%2F19F_coupling#f-data10

[2022-10-14 12:04] bebi78 commented on #81
@MFernflower @wwjvdsande These antimonials are Sb(V) prodrugs which need reduction to active Sb(III) to kill the parasite. They are mainly active against Leishmania amastigotes because the host cells/macrophages reduce the Sb(V) to Sb(III) which kills the intracellular amastigotes then. Parasitic uptake of the Sb(III) by porins is important in this process, too. So the question is whether eumyceto

[2022-10-14 12:08] bebi78 commented on #81
@wwjvdsande Has auranofin been part of the MMV or DNDi pandemic response box?

[2022-10-14 15:11] dmitrij176 commented on #82
Updated Benzoxazoles
![New Benzoxazoles (updated)](https://user-images.githubusercontent.com/44785501/195880539-e58750e4-2468-45fb-8620-c31c30e528da.jpeg)

@mattodd @wwjvdsande the Master List is now fully updated. @bendndi would you please generate logD values for us.

[2022-10-14 15:15] mattodd commented on #82
OK, @dmitrij176 out of interest did the chemical strings (SMILES etc) change between single enantiomer and racemate?

[2022-10-17 10:59] bebi78 commented on #81
@MFernflower @wwjvdsande Good news. I have some mg of auranofin left I can send. Auranofin has an interesting mechanism targeting cysteine-rich proteins in the fungal mitochondria (Mia40).
In addition, I have received nootkatone and maritima from IFF today.
@MA-Jjingyi Thanks for providing the first results of the new cinnamides.

[2022-10-17 13:43] wwjvdsande commented on #82
@OpenSourceMycetoma/corecontrib I updated the spreadsheet with the logD values etc. @bendndi was so kind to calculate the missing values

[2022-10-20 17:05] bebi78 commented on #81
@wwjvdsande I have dispatched a new package today containing the two IFF perfumes nootkatone and maritima, the gold complex auranofin, a Ru complex of maritima, and Bengal Rose B (photodynamic therapy).
[IFF.auranofin.docx](https://github.com/OpenSourceMycetoma/Series-1-Fenarimols/files/9832351/IFF.auranofin.docx)

[2022-10-25 11:01] wwjvdsande commented on #82
@OpenSourceMycetoma/corecontrib we are in the sydney zoom link. Is anyone from sydney joining? @fantasy121?

[2022-10-25 11:01] fantasy121 commented on #80
![Untitled Wiley Document-1](https://user-images.githubusercontent.com/36176821/197756406-aa350803-ec40-4d1b-893d-843f14d43d5e.png)

[2022-10-25 14:10] bebi78 commented on #82
@dmitrij176 @fantasy121 Fatty alkyl pyridinium salts (e.g., cetylpyridinium chloride/CPC) can have considerable antifungal activity (see link).
I used N-alkyl salts of 4-picolin for the synthesis of various stilbazolium dyes as part of finished a material science project. But can be repurposed for mycetoma testing. @wwjvdsande

https://www.mdpi.com/2309-608X/6/4/218

[2022-10-25 18:45] MFernflower commented on #82
@bebi78 maybe a few of those stilbazolium compounds could be sent for
antifungal testing - they kind of resemble the known antifungal Miltefosine

[2022-10-25 18:50] MFernflower commented on #82
@bebi78 @wwjvdsande

All though if I'm not mistaken miltefosine was tested and found to not
prolong larval survival

[2022-10-26 03:44] MFernflower commented on #82
@dmitrij176 I was wondering if you could make one of the non commercially
available phenothiazines (series 3) if you had time to do so - something
like N-isovaleryl phenothiazine might be interesting to screen

[2022-10-26 16:14] bebi78 commented on #82
@MFernflower Yes, I will check if I still have the stilbazolium compounds and the corresponding N-alkylpicolin precursors. Maritima might also be a suitable starting compound to prepare pyridinium salts. Cetylpyridinium might be prepared analogously.

[2022-10-26 16:41] MFernflower commented on #82
@bebi78 should just be as easy as refluxing maritima, dmf, ethyl iodide and
potash  together - Although these type of compounds tend to have toxicity
issues that limit there use to topical formulations (with the exception of
miltefosin)

On Wed, Oct 26, 2022, 12:14 PM bebi78 ***@***.***> wrote:

[2022-10-29 15:27] bebi78 commented on #82
@MFernflower Often you don't need potash and can use ethanol as solvent, the pyridine is reactive enough to be alkylated by alkyl bromides in hot ethanol. I still have six or seven N-cetylpicolines and cetylstilbazolium dyes I can provide for testing.

[2022-10-29 18:28] dmitrij176 commented on #82
We will see.

[2022-10-30 23:55] fantasy121 opened #83 "Mycetoma Monthly Meeting 22nd Nov 2022"
### **Open Source Mycetoma (MycetOS) Meeting**

Meeting Zoom link [here](https://uni-sydney.zoom.us/j/99281549497)

**Time:**

**Chair:** Erasmus MC

**Minute taker:** UCL

_Recording_ can be found here

_Minutes_ can found here

**Link to previous meeting** #82
____________________________________________
### AGENDA

### 1. Outstanding items from previous meeting

(Suggestion: to get Wendy’s team

[2022-11-02 22:02] mattodd commented on #82
Hi @OpenSourceMycetoma/corecontrib - sorry to miss the meeting. Two Q's where I think we need clarification:

1) I'm having trouble figuring out from the minutes if there are new action items that we need to add to next meeting #83. Please could the minute taker check through the above minutes to see whether all actions from Oct are inluded in Nov?

2) What's the next things needed on the paper? W

[2022-11-03 04:23] fantasy121 opened #84 "Prospective Compounds for Screening (Antimalarial and Natural Products) from Griffith University (Rohan Davis)"
Hi @OpenSourceMycetoma/corecontrib

Rohan has gotten back to us Re: potential compounds for screening

1. Can you work with sdf's for chemical structure analysis, or did you want me to send a ChemDraw file or SMILES?

2. Are only antimalarial compounds of interest?  I have a small library of 512 pure natural products that is housed at Compounds Australia (5 mM stock solutions). (Free but needs to

[2022-11-03 04:24] fantasy121 commented on #84
For point 1, I guess we should ask Rohan to send ChemDraw file or SMILES string? That'd be what I use, not sure about SDF.

[2022-11-03 04:25] fantasy121 commented on #84
@mattodd Have we had any OSM series 4 compounds screened for mycetoma?

[2022-11-03 04:26] fantasy121 commented on #84
Point 2. What do we think of this offer? @OpenSourceMycetoma/corecontrib

[2022-11-03 11:06] mattodd commented on #84
My quick responses (to this *very* nice offer of help)

1) Don't mind - sdf works fine for e.g. Datawarrior if that's simplest

2) The more the merrier. How much?

3) That would also be very good. I'm afraid I'm not sure if any OSM S4 compounds have been tried - I would hope that had that happened the OSM codes would be in the MycetOS Master List. Bit of a punt unless M. mycetomatis has an ATP4 io

[2022-11-03 19:08] MFernflower commented on #84
That library contains Thiaplakortone a very unusual phenothiazine (series
3) like natural product isolated from a sea sponge

On Thu, Nov 3, 2022, 7:06 AM Mat Todd ***@***.***> wrote:

[2022-11-03 23:47] MFernflower commented on #84
@bebi78 being our resident natural products chemist does anything in the
library look interesting to you?

On Thu, Nov 3, 2022, 3:07 PM MFernflower ***@***.***> wrote:

[2022-11-04 12:40] bebi78 commented on #84
@MFernflower @fantasy121 @wwjvdsande Seems to me that three of the natural products presented in the paper are especially interesting because of their high selectivity/low toxicity (Lissoclinotoxin E/1, chalcone analog/13, and chelerythrine chloride/15). Is it possible to get these three compounds from Rohan for free?
Mefloquin is a widely applied synthetic antimalarial showing some selectivity. M

[2022-11-07 12:48] MFernflower commented on #84
lissoclinotoxin e and thiaplakortone share some resemblance to the series 3
phenothiazines so might be interesting to open up series 3 a bit perhaps
time to synthesize a few n alkyl phenothiazines?

@bebi78

[2022-11-09 16:51] bebi78 commented on #84
@MFernflower I can organize expired quetiapine pills.

[2022-11-09 17:47] MFernflower commented on #84
I don't know if quetiapine was already tested in the MMV boxes - I think
for now we should see if we can get the natural products box from Rohan
Davis @mattodd @bebi78

On Wed, Nov 9, 2022, 11:52 AM bebi78 ***@***.***> wrote:

[2022-11-11 14:15] dmitrij176 commented on #83
SAR gap analysis
[Fenarimols SAR gap analysis (final).zip](https://github.com/OpenSourceMycetoma/Series-1-Fenarimols/files/9990815/Fenarimols.SAR.gap.analysis.final.zip)

![Fenarimols SAR gap analysis (final) jpeg](https://user-images.githubusercontent.com/44785501/201357796-1ac551bc-0652-4fb0-b9a9-5cc00adee4f3.jpeg)

[2022-11-14 16:35] bebi78 commented on #83
@mattodd @wwjvdsande I launched a new special issue about infectious tropical diseases in Int J Mol Sci (IF 6.2, deadline May 2023, see link below). I can provide a 100% voucher (no APC). Please let me know in the coming few days if you want to contribute using a 100% voucher. I will send you an official invitation then. If Mat and Wendy don't have interest, I can provide the 100% voucher to other

[2022-11-15 07:27] wwjvdsande commented on #83
@OpenSourceMycetoma/corecontrib @bebi78 would this be something for our fenarimol manuscript?

[2022-11-15 07:33] wwjvdsande commented on #84
@MFernflower @bebi78 @fantasy121 for me it is fine if we screen a few compounds more but it needs to be doable for @MA-Jjingyi. It might be good to focus a bit on the series we are interested in to get some new lead compounds. I myself would be most interested in series5 compounds if they are there as well. They seem to have the best in vivo activity so far and are active against multiple mycetoma

[2022-11-15 12:28] bebi78 commented on #83
@wwjvdsande @mattodd I suppose the fenarimol article is already written in J Med Chem style. But maybe the ketoximes would fit. @dmitrij176
Submission of a review article is also possible using the 100% waiver.

[2022-11-15 14:25] bebi78 commented on #83
@mattodd OK for you to plan with a ketoxime manuscript for the special issue?

[2022-11-15 14:29] MFernflower commented on #84
@wwjvdsande were the molecules from  @AndreaOtago tested?

[2022-11-15 14:48] wwjvdsande commented on #84
@MFernflower, yes the results are in the masterlist

[2022-11-15 16:26] MFernflower commented on #84
@wwjvdsande sorry for not being up to date but have any compounds been
tested in the caterpillars infected with Falciformispora? Indeed targeting
microtubules seems like a good strategy however this basically
automatically makes pregnancy a contraindication for treatment (although I
think no antifungal is safe during pregnancy because animal and fungal
cells are so similar)

[2022-11-17 06:57] wwjvdsande commented on #84
@MFernflower yes we tested amphotericin B, terbinafine and itraconazole. This simply to characterize the model. We did not test any mycetOS molecules yet. It is quite some work to set up these models and get them reproducible. Amphotericin B did prolong larval survival, like it does when the larvae are infected with _Madurella mycetomatis_, however the effect was less pronounced. The other two dru

[2022-11-17 17:03] bebi78 commented on #82
@MFernflower @wwjvdsande @mattodd @MA-Jjingyi Please find below a list of cetylpyridinium compounds including the new cetyl-maritima, and new niclosamide derivatives (inspired by Wendy's niclosamide paper) I can share for testing anytime.

[Niclosamide.Cetyl.docx](https://github.com/OpenSourceMycetoma/Series-1-Fenarimols/files/10033809/Niclosamide.Cetyl.docx)

[2022-11-17 23:17] MFernflower commented on #84
@wwjvdsande Did niclosamide work against the Falciformispora? @bebi78 is offering to send you some more analogues of niclosamide with the problematic nitro group deleted

[2022-11-17 23:42] MFernflower commented on #84
@bebi78 @wwjvdsande there is also another analogue of niclosamide called "TFM" that can be purchased at TCI

https://www.tcichemicals.com/NL/en/search/?text=4-Nitro-3-%28trifluoromethyl%29phenol

https://www.sciencedirect.com/science/article/pii/S0166445X1830674X

[2022-11-18 19:29] dmitrij176 commented on #83
For the outstanding assigned objective on the latest in vitro and in vivo data from Aug and Sept screening, would using Blue and Orange box lists (from Mimis September presentation) as a reference for the potency scheme creation be accurate?
Do these 2 lists cover all molecules for the latest potency scheme?
@MA-Jjingyi  @wwjvdsande could you please advise on this? Thank you in advance.

[2022-11-21 13:30] MA-Jjingyi commented on #82
[20221025myctOS meeting -MA.pptx](https://github.com/OpenSourceMycetoma/Series-1-Fenarimols/files/10056904/20221025myctOS.meeting.-MA.pptx)
the slides are here. please check.

[2022-11-21 13:50] wwjvdsande commented on #82
Hi Ma,

Didn't we present this already last time? If so, no need to present now

Wendy

From: MA-Jjingyi ***@***.***>
Sent: maandag 21 november 2022 14:30
To: OpenSourceMycetoma/Series-1-Fenarimols ***@***.***>
Cc: Wendy Laureijssen - van de Sande ***@***.***>; Mention ***@***.***>
Subject: Re: [OpenSourceMycetoma/Series-1-Fenarimols] Mycetoma Monthly Meeting 25th October 2022 (Issue #82)

Waarsch

[2022-11-21 13:58] MA-Jjingyi commented on #82
@wwjvdsande we did present it last month. and I forgot to upload them last month. so, i upload them now.

[2022-11-21 21:16] mattodd commented on #83
Our new contact at DNDi, following Ben Perry's departure, is Luiza Cruz @dosreic. Welcome Luiza!

[2022-11-22 21:42] MFernflower commented on #83
@dosreic to see if she can send this compound from a DNDI paper to Wendy:

![image](https://user-images.githubusercontent.com/3164942/203426855-66198570-e7f4-4c79-82a3-86a1e9254ad9.png)

https://github.com/OpenSourceMycetoma/Series-2-Aminothiazoles/issues/11

[2022-11-22 21:56] dosreic commented on #83
@MFernflower Awesome, I checked with my colleague, and this would be possible indeed.

@wwjvdsande how much compound do you need and to whom I send?

[2022-11-22 22:51] AndreaOtago commented on #82
Finally getting around to having a look at the biological results from the Otago benzoxazoles out of interest, and I see a few are quite good, and also looks like the best here were some of the worst/inactive in the OSN/DNDi/parasite screen, so interesting!

[2022-11-23 11:07] mattodd commented on #83
Rohan Davis is also now on Github - @rohandavis. Welcome!

[2022-11-23 14:30] dmitrij176 commented on #82
![Potency results (July-Sept 2022) Orange Box jpeg](https://user-images.githubusercontent.com/44785501/203572032-80519b39-f400-4cc0-b379-dd098cdc302a.jpeg)
[Potency results (July-Sept 2022) Orange Box.zip](https://github.com/OpenSourceMycetoma/Series-1-Fenarimols/files/10076418/Potency.results.July-Sept.2022.Orange.Box.zip)

[2022-11-23 22:37] mattodd commented on #83
As I mentioned, I want to post something simple about how students at e.g. schools and unis can get involved, and the current needs of the project. This can go on the wiki somewhere, in this case for Series 2. Feeback please @kym834 @fantasy121

MycetOS has now run several experimental open science projects with schools and other cohorts of junior students. The project has molecules that need to b

[2022-11-24 00:02] kym834 commented on #83
RE schools contributing compounds - Barker College (@katieterrett) has planned to run a synthesis of some Series 2 compounds in their Science Extension early next year. I'm yet to confirm if any students have showed interest in the project (they get to choose what they want to do) but looking likely they will contribute couple of compounds. I'll add to Series 2 repo once confirmed :)

@mattodd loo

[2022-11-24 15:18] mattodd commented on #83
Whitgift school are now also on here @Whitgift. Welcome!

[2022-11-25 01:44] MFernflower commented on #83
@dosreic and @MA-Jjingyi to communicate and figure out shipping of the DNDI
anthelmintic aminothiazoles as Wendy is currently unavailable

[2022-11-25 12:52] dosreic commented on #83
@MFernflower @MA-Jjingyi  I might have to wait for @wwjvdsande because we need to setup an MTA beforehand. I will follow up with the Discovery team at DNDi about this next week and keep you updated.